//
// BackEnd Nav Styles
// --------------------------------------------------

// Variables
// ========================================================================
$linkBg: transparent;
$linkColor: #fffefe;

$navIsHoverBg: #222833;
$navIsHoverColor: #fffefe;

$navSeparatorBorder: #fffefe;

// Placeholders
// ========================================================================
%nav-active {
    background-color: $navIsHoverBg;
    border-left-color: $primary;
    color: $navIsHoverColor;
}

// Component
// ========================================================================

.nav {
    &__item {
        margin: 0 10px;
    }

    &__link {
        @extend %flex;
        align-items: center;
        padding: 1em 1.2em 1em .75em;
    }

    &__icon {
        @extend %icon16;

        &:not(.nav__icon--caret) {
            margin-right: 10px;
            transition: margin .3s ease;
        }

        &--caret {
            height: 12px;
            margin-left: auto;
            transform: rotate(0);
            transition: transform .2s ease;
            width: 12px;
        }
    }

    &__separator {
        border: 1px solid $navSeparatorBorder;
        border-bottom: 0;
        margin: 8px 10px;
    }
}

.global__nav {
    .nav {
        &__link {
            background-color: $linkBg;
            border-left: 4px solid transparent;
            color: $linkColor;
            transition: background-color .2s cubic-bezier(0, 0, 1, .42), border-left .2s linear;
            width: 100%;
        }

        &__section {
            &-title {
                color: #d0d2d4;
                font-size: 16px;
                margin-left: 10px;
                // margin: 0 0 15px 10px;
            }

            &-children {
                padding: 10px 0;
            }
        }
    }

    // State
    .nav__link {
        &:hover {
            @extend %nav-active;
        }
    }

    .is-current {
        .nav__link {
            @extend %nav-active;
        }
    }
}

.global__subnav {
    .nav {
        &__link {
            border-bottom: 1px solid $navIsHoverBg;
        }
    }
}
