//
// BarTop (Breadcrumbs, Title, etc)
// --------------------------------------------------

// Variables
// ========================================================================
$iconPartItemColor: $darkLight;
$iconPartItemColorActive: $primary;

$bartopSearchBg: #e7eaf1;
$bartopSearchPlaceholder: #7a818c;
$bartopSearchIcon: #7a818c;

// Placeholders
// ========================================================================

// Component
// ========================================================================
.bartop {
    background-color: $white;
    border-bottom: 1px solid $grey;
    border-top: 1px solid $grey;
    height: 45px;
    padding: 5px 10px;

    & > .row {
        height: 100%;
    }

    &__left {
        height: 100%;
    }
}

.page-title {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 7px;
}

.iconparts {
    justify-content: space-between;
    margin-left: auto;
    max-width: 230px;
}

.iconpart {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 5px;

    &__icon {
        height: 30px;
        width: 30px;
    }

    &__text {
        display: block;
        text-transform: uppercase;
    }

    &.is-active {
        background-color: transparent;
        color: $iconPartItemColorActive;

        .iconpart__text {
            @extend %bold;
        }
    }
}

.modal-list {
    margin-left: 0;

    &__item {
        flex-basis: 100%;
        height: 60px;
        max-width: 100%;

        & + & {
            border-top: 1px solid $grey;
        }

        //&-inner {}

        // State
        &.is-active {
            @extend %bold;
            color: $iconPartItemColorActive;
        }

        &--back {
            .modal-list__icon {
                transition: transform .2s ease-out;
            }

            &:hover {
                .modal-list__icon {
                    transform: translateX(-10px);
                }
            }
        }
    }

    //&__text {}

    &__icon {
        margin-right: 10px;
    }
}

.modal-list--cards {
    .modal-list__item {
        border-top: 0;

        &-inner {
            height: 100%;
            padding: 5px 10px;
            transition: transform .2s ease;
        }

        &:hover:not(.modal-list__item--back) { //sass-lint:disable-line force-pseudo-nesting
            .modal-list__item-inner {
                transform: scale(1.05);
            }
        }
    }
}

.modal-list--engines {
    .modal-list__item {
        flex-direction: column;
        padding: 10px;

        &:hover {
            .modal-list__name { // sass-lint:disable-line nesting-depth
                transform: scale(1.1);
            }
        }
    }

    .modal-list__name {
        transition: transform .2s ease;
    }

    .modal-list__info {
        color: $greyDark;
    }
}

.bartop-search {
    background-color: $bartopSearchBg;
    border-radius: 4px;
    flex-grow: 1;
    overflow: hidden;

    &__input {
        background-color: transparent;
        border: 0;
        padding: 0 10px;
        width: 100%;

        &::placeholder {
            color: $bartopSearchPlaceholder;
        }
    }

    .input {
        flex-grow: 1;
        padding-left: 10px;

        &__group {
            align-items: center;
        }
    }

    .icon {
        color: $bartopSearchIcon;
    }

    &__btn {
        background-color: #b7b9bf;
        border-color: #b7b9bf;
        border-radius: 0;
        color: #fff;
        padding: 0 12px;

        & + & {
            margin-left: 4px;
        }
    }
}

@include media-breakpoint-down("sm") {
    .modal-list--cards {
        .modal-list__item:nth-child(n + 2) { // sass-lint:disable-line force-pseudo-nesting
            border-top: 1px solid $grey;
        }
    }

    .bartop-search {
        &__input {
            font-size: 12px;
        }
    }
}

@include media-breakpoint-between("sm", "md") {
    .modal-list--cards {
        .modal-list__item {
            flex-basis: 50%;
            max-width: 50%;

            &:nth-child(n + 3) {
                border-top: 1px solid $grey;
            }

            &:nth-child(2n) {
                border-left: 1px solid $grey;
            }
        }
    }
}

@include media-breakpoint-up("md") {
    .bartop {
        height: 55px;
        padding: 8px 20px;
    }

    .iconpart {
        padding: 0 10px;

        &__icon {
            height: 35px;
            width: 35px;
        }
    }
}

@include media-breakpoint-up("lg") {
    .bartop {
        height: 80px;
        padding: 12px 20px;
    }

    .modal-list--cards {
        .modal-list__item {
            border-right: 1px solid $grey;
            flex-basis: 33.333%;
            max-width: 33.333%;

            &:nth-child(n + 4) {
                border-top: 1px solid $grey;
            }

            &:nth-child(3n + 3) {
                border-right: 0;
            }
        }
    }
}
