//
// Base Layout (Wrapper and includes)
// --------------------------------------------------

// Variables
// ========================================================================

// Header
$headerBoxShadow: rgba(0, 0, 0, .15);
$headerHeight: 50px;

// Aside
$asideSmallWidth: 65px;
$asideWidth: 170px;

$containerBg: $white;
$containerPadding: 25px 10px;

// Content
$contentTitleColor: $grey;

// BarTop
$barTopMblHeight: 45px;
$barTopHeight: 80px;

// Placeholders
// ========================================================================

// Component
// ========================================================================

// Header
@import "header";

.wrapper {
    // transition: all 0.5s ease;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100% - #{$headerHeight});

    &.wrapper--full {
        height: 100%;
    }
}

.global__aside {
    background: $darkLight;
    flex-basis: $asideWidth;
    height: 100%;
    max-width: $asideWidth;
    transition: flex .3s ease;
}

.global__main {
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

.alert {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 100;
}

.box {
    background-color: $containerBg;
    border: 1px solid $grey;
    padding: $containerPadding;

    &--m {
        margin-top: 25px;
    }

    &--clear {
        padding: 0;
    }

    & + & {
        margin-top: 1em;
    }

    &__title {
        margin-bottom: .75em;
    }

    &__header {
        border-bottom: 2px solid $grey;
        padding: 12px 10px;
    }

    &__content {
        padding: 20px 10px;
    }
}

// For React
#root { // sass-lint:disable-line no-ids
    > div {
        height: 100%;
    }
}

.is-cart-open {
    #root { // sass-lint:disable-line no-ids
        overflow: hidden;
    }
}

// Content
@import "bartop";

.content {
    height: calc(100% - #{$barTopMblHeight});
    overflow-y: scroll;
    padding: 10px;

    &__title {
        @extend %black;
        border-bottom: 3px solid $contentTitleColor;
        font-size: 40px;
        margin-bottom: 30px;
    }
}

.dashboard {
    margin: 1rem;

    .row + .row {
        margin-top: 1rem;
    }
}

.list__item {
    margin-top: 1em;
}

// Filter
.filter {
    border-bottom: 1px solid $grey;
    padding-bottom: 25px;

    &__icon {
        line-height: 1;
        margin-right: .75rem;
    }

    &__title {
        @extend %flex;
        align-items: center;
        margin-bottom: 5px;

        .icon {
            margin-right: 5px;
        }
    }
}

// Search
/*.search-result__count {
    display: inline-block;
    line-height: 1;
    margin-top: -3px;
    vertical-align: middle;
}

.search-result__item {
    display: block;
    padding: 8px;

    &:hover {
        background-color: #f4f4f4;
    }

    // &-title {}

    // &-info {}
}*/

// Lookup
.lookup {
    padding: 1.5em;

    .panel,
    .panel__header {
        background-color: $white;
    }

    &-results {
        height: calc(100% - 67px);
    }

    &-results__anchors {
        padding-top: 15px;
    }

    &-results__block {
        padding-top: 25px;
    }

    &-results__item {
        align-items: center;
        border: 1px solid $grey;
        display: flex;
        margin-top: -1px;

        &:hover {
            background-color: #f4f4f4;
        }

        &-content {
            flex-grow: 1;
            margin-right: 15px;
            padding: 10px;
        }

        .icon {
            margin-right: 15px;
        }
    }
}

// Reset vendors
//
.swal2-input,
.swal2-file,
.swal2-textarea {
    &::placeholder {
        color: $formInputPlaceholder !important; // sass-lint:disable-line no-important
    }
}


// Open menu
@include media-breakpoint-down("sm") {
    .global__aside {
        margin-left: -$asideWidth;
    }

    .global__aside,
    .global__main {
        transition: transform .3s ease;
    }

    .wrapper {
        &.menu-is-open {
            .global__aside,
            .global__main {
                transform: translateX($asideWidth);
            }
        }
    }
}

@include media-breakpoint-between("md", "md") {
    .global__aside {
        flex: 0 0 $asideSmallWidth;
        width: $asideSmallWidth;
    }
}

@include media-breakpoint-up("md") {
    .content {
        height: calc(100% - 55px);
        padding: 10px 1em;
    }
}

@include media-breakpoint-up("lg") {
    .content {
        height: calc(100% - #{$barTopHeight});
        padding: 1em;
    }
}

@import "lamina";
@import "orders";
@import "notices";
@import "manuals";
@import "parkings";
@import "warranties";
