//
// Cart (Cart, OrderList)
// --------------------------------------------------

// Variables
// ========================================================================
$cartBoxShadow: rgba(120, 120, 120, .3);
$cartBg: rgba(36, 37, 42, .7);
$cartInnerBg: #fff;

$cartNumberColor: #696969;

$cartListBorder: $grey;

$cartTotalColor: #696969;

// $cartItemSkuColor: $greyDark;

$cartFooterShadow: rgba(218, 218, 218, .75);
$cartFooterBg: #fff;

// Placeholders
// ========================================================================

// Component
// ========================================================================

// CART BUTTON
//
.cart-btn {
    // margin: 5px 150px 5px 20px;
    position: relative;

    &__badge {
        position: absolute;
        right: -10px;
        top: -6px;
    }
}


// CART
//
.cart {
    background-color: $cartBg;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: z-index .1s ease-out .6s, opacity .3s cubic-bezier(.65, .05, .36, 1) .3s;
    width: 100%;
    z-index: -1;

    &__modal {
        background-color: $cartInnerBg;
        box-shadow: 1px 0 3px $cartBoxShadow;
        left: 50%;
        position: absolute;
        top: -100%;
        transform: translateX(-50%);
        transition: top .3s ease-out;
        width: 95%;
    }

    &__inner {
        height: calc(100vh - 65px);
        overflow-y: scroll;
        padding: 3rem .75rem .75rem;
        position: relative;
    }

    &__close {
        position: absolute;
        right: 2rem;
        top: .5rem;
    }

    &__number {
        color: $cartNumberColor;
        font-size: 25px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    &__title {
        color: $cartNumberColor;
        font-size: 25px;
    }

    &__header {
        align-items: center;
        justify-content: space-between;
    }

    &__container {
        margin-bottom: 25px;
        margin-top: 15px;
    }

    &__footer {
        background-color: $cartFooterBg;
        padding: .75rem;
        width: 100%;
    }
}

.cart-name {
    margin-left: 15px;

    .in-input__name--placeholder {
        color: $greyDark;
        font-style: italic;
    }

    .input {
        font-size: 16px;
        height: 100%;

        &__field {
            border-left: 0;
            border-right: 0;
            border-top: 0;
            padding-left: 0;

            &:placeholder {
                color: $greyDark;
                font-size: 16px;
                font-style: italic;
            }
        }
    }

    .in-input {
        &__input {
            height: 35px;
        }

        &__clear {
            margin-left: -20px;
        }

        &__name {
            .icon {
                margin-left: 10px;
            }
        }
    }
}

.cart__total {
    font-size: 1.6rem;

    &-label {
        margin-right: .75rem;
    }
}

.is-cart-open {
    overflow-y: hidden;

    .cart {
        opacity: 1;
        transition: z-index .1s ease-in, opacity .3s cubic-bezier(.65, .05, .36, 1) .1s;
        z-index: 900;
    }

    .cart__modal {
        top: 0;
        transition: top .3s cubic-bezier(.63, .13, .85, .95) .4s;
    }
}


// CART LIST
//
.cart-list {
    .table__col {
        &--1 {
            @include table-width(49%);
        }

        &--2 {
            @include table-width(16%);
            justify-content: center;
            text-align: center;
        }

        &--3 {
            @include table-width(20%);
            justify-content: flex-end;
            text-align: right;
        }

        &--options {
            @include table-width(15%);
            text-align: right;
        }
    }

    &__btn {
        @extend %is-selectable;

        & + & {
            margin-left: 10px;
        }
    }

    &__total {
        color: $cartTotalColor;
        display: flex;
        font-size: 16px;
        padding-top: 10px;

        &-name {
            text-align: right;
            width: 65%;
        }

        &-value {
            padding: 0 5px;
            text-align: right;
            width: 20%;
        }
    }

    .input--numeric {
        height: 2.5em;
        margin-left: auto;
        margin-right: auto;
        max-width: 160px;
    }
}

.cart-extra {
    .table__col {
        &--1 {
            @include table-width(50%);
        }

        &--2 {
            @include table-width(35%);
        }
    }
}


.cart-list--add,
.cart-extra--add {
    .table__row {
        border-bottom: 0;
    }
}


.cart__send {
    &-loading {
        height: 250px;
        width: 250px;
    }
}

.upl-csv {
    &__result {
        border-bottom: 1px solid $grey;
        border-top: 1px solid $grey;
        padding: 10px 0;
    }

    .uploader__container {
        border: 3px dashed $grey;
        min-height: 100px;
        padding: 10px;
    }
}

@include media-breakpoint-down("sm") {
    .cart {
        &__footer {
            border-top: 1px solid $cartListBorder;
        }

        &__actions {
            .btn {
                margin-top: 10px;
            }
        }
    }

    .cart-list {
        .table__head {
            .table__col--1 {
                @include table-width(40%);
            }

            .table__col--2 {
                @include table-width(25%);
            }
        }

        .table__body {
            .table__col--1 {
                @include table-width(100%);
            }

            .table__col--2,
            .table__col--3,
            .table__col--options {
                @include table-width(33.33%);
            }
        }
    }

    .cart-extra {
        .table__body {
            .table__col--1 {
                @include table-width(100%);
            }

            .table__col--2,
            .table__col--options {
                @include table-width(50%);
            }
        }
    }

    .cart__total {
        text-align: center;
    }
}

@include media-breakpoint-up("md") {
    .cart {
        &__inner {
            padding: 3rem 1rem 1rem;
        }

        &__footer {
            bottom: 0;
            box-shadow: 0 -12px 10px -10px $cartFooterShadow;
            left: 0;
            padding: 1rem;
            position: fixed;
            //padding: 1rem 2rem;
        }
    }
}

@include media-breakpoint-up("xl") {
    .cart {
        &__modal {
            width: 85%;
        }

        &__inner {
            padding: 3rem 2rem 5rem;
        }

        &__footer {
            padding: 1rem 2rem;
        }
    }
}
