//
// Dealers
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================

// Component
// ========================================================================
.subdealers-form {
    .input {
        margin-bottom: 1em;
    }
}

.table--subdealers {
    .table__col {
        &--1 {
            @include table-width(10%);
        }

        &--4,
        &--5 {
            @include table-width(15%);
        }

        &--3 {
            @include table-width(25%);
        }
    }
}

.table--subdealers-orders {
    .table__col {
        &--1 {
            @include table-width(18%);
        }

        &--3 {
            @include table-width(10%);
        }

        &--4,
        &--5 {
            @include table-width(15%);
        }

        &--options {
            @include table-width(12%);
        }
    }
}
