//
// Global Header
// --------------------------------------------------

// Variables
// ========================================================================
$searchBorderColor: #ddd;

$searchInputBg: rgb(58, 58, 58);
$searchInputColor: #ddd;

// Placeholders
// ========================================================================

// Component
// ========================================================================
.global__header {
    background-color: $dark;
    box-shadow: 0 5px 10px -5px $headerBoxShadow;
    color: $white;
    height: $headerHeight;
    justify-content: space-between;
    padding: 10px;
}


//
// Logo
.global__logo {
    justify-content: center;
}

//
// Nav Options
.nav-opt {
    &__link {
        display: inline-flex;
        line-height: 1;

        & + & {
            margin-left: 15px;
        }
    }

    &__icon {
        @extend %icon20;
    }
}

// Search
.nav-opt__link--search {
    flex-grow: 1;
}

.global-search {
    background-color: $searchInputBg;

    &__icon {
        @extend %flex;
        align-items: center;
        color: $searchInputColor;
        height: 30px;
        justify-content: center;
        width: 35px;
    }

    &__input {
        background-color: transparent;
        border: 0;
        color: $searchInputColor;
        font-size: 16px;
        height: 30px;
        padding: 0 10px;
        width: 100%;
    }

    &__submit {
        background-color: #9c9b9b;
        border: 0;
        padding: 0 10px;
        text-transform: capitalize;
    }
}

// User
.user {
    .icon--caret {
        margin-left: 8px;
        vertical-align: middle;
    }
}

.dropdown--user {
    .dropdown__content {
        margin-top: 20px;
    }

    .dropdown__menu {
        min-height: 0;
    }
}

@include media-breakpoint-down("sm") {
    .global__logo {
        height: 30px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .nav-opt,
    .menu-mbl {
        z-index: 2;
    }
}

@include media-breakpoint-up("md") {
    .global__logo {
        flex-basis: 160px;
    }

    .nav-opt {
        flex-grow: 1;

        &__link {
            & + & {
                margin-left: 25px;
            }
        }
    }
}

@include media-breakpoint-up("lg") {
    .nav-opt__link--search {
        margin-left: 25px;
    }
}
