//
// Global Header
// --------------------------------------------------

// Variables
// ========================================================================
$cartTitleSize: 20px;

// Placeholders
// ========================================================================

// Component
// ========================================================================
.card--model,
.card--category {
    .card__link {
        height: 100%;
    }

    .card__image {
        margin-left: auto;
        margin-right: auto;
        max-height: 100%;
    }

    .card__image--empty {
        background-color: $grey;
        height: 100%;
        width: 100%;
    }

    .card__caption {
        height: 262px;
        padding: 1.5em 1em .75em;
        position: relative;
    }
}

.card--category {
    .card__title {
        font-size: $cartTitleSize;
    }
}

.card--model {
    .card__title {
        font-size: 1.25em;
    }

    .card__footer {
        height: 87px;
        position: relative;

        .card__footer-nav {
            @extend %flex;
            flex-grow: 1;
            flex-wrap: nowrap;
            overflow: hidden;
        }

        .card__footer-item {
            border-left: 1px solid $grey;
            border-right: 0;
            flex-basis: 33.33%;
            padding: .5rem;
            text-align: center;
        }

        .card__image {
            display: inline-block;
            height: 100%;
        }
    }
}

.prevnext {
    align-items: center;
    background-color: transparentize($grey, .3);
    border-right: 1px solid $grey;
    display: flex;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--prev {
        left: 0;
    }

    &--next {
        right: 0;

        .icon {
            transform: rotate(180deg);
        }
    }
}

.card__link-icon {
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 10;
}

.lamina {
    background-color: $white;
    border: 1px solid $grey;
    height: 100%;

    &__header {
        border-bottom: 1px solid $grey;
        padding: 8px;

        .btn-group .btn { // sass-lint:disable-line force-element-nesting
            flex: 0 1 100%;
        }

        .icon {
            margin-right: calc(-.375em - 1px) !important; // sass-lint:disable-line no-important
        }
    }

    &__name {
        margin-left: 15px;
    }

    &__content {
        overflow: hidden;

        .row {
            flex-direction: column-reverse;
        }
    }

    &__inner {
        flex-direction: column;
        height: 100%;
    }

    &__search {
        border-bottom: 1px solid $grey;
        padding: 8px;
    }

    &__list {
        overflow-y: scroll;
    }

    &__image {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;

        span {
            display: block;
            height: 100%;
            width: 100%;
        }

        &-img {
            display: block;
            max-height: 99.5%;
            max-width: 100%;
        }
    }
}

@import "../../components/cardline";

@import "./components/drift";

@include media-breakpoint-up("sm") {
    .card--model,
    .card--category {
        .card__caption {
            height: 233px;
        }

        .card__footer {
            height: 78px;
        }
    }
}

@include media-breakpoint-up("md") {
    .lamina {
        &__header {
            padding: 15px;
        }

        &__search {
            padding: 10px 15px;
        }
    }

    .card--model,
    .card--category {
        .card__caption {
            height: 162px;
        }

        .card__footer {
            height: 55px;
        }
    }

    .card--model {
        .card__title {
            font-size: 1em;
        }
    }
}

@include media-breakpoint-down("lg") {
    .lamina {
        &__image {
            border-bottom: 1px solid $grey;
        }
    }
}

@include media-breakpoint-up("lg") {
    .card--model,
    .card--category {
        .card__caption {
            height: 198px;
        }

        .card__footer {
            height: 66px;
        }
    }

    .lamina {
        &__content {
            .row {
                flex-direction: row;
            }
        }

        &__image {
            border-left: 1px solid $grey;
        }
    }
}

@include media-breakpoint-up("xl") {
    .card--model,
    .card--category {
        .card__footer {
            height: 75px;
        }
    }

    .card--model {
        .card__title {
            font-size: 1.25em;
        }
    }

    .card__link-icon {
        top: 1.5em;
    }
}

@media screen and (min-width: 1600px) {
    .card--model,
    .card--category {
        .card__caption {
            height: 258px;
        }

        .card__footer {
            height: 86px;
        }
    }
}
