//
// Notices Plugin Styles
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================

// Component
// ========================================================================
.table--notices {
    .table__col {
        &--1 {
            flex-basis: 65%;
        }

        &--2 {
            flex-basis: 20%;
        }

        &--options {
            flex-basis: 15%;
            text-align: center;
        }
    }

    .badge {
        @extend .txt--small;
        margin: 0 5px;
    }

    .icon {
        &:hover {
            fill: $primary;
            transition: fill .2s ease;
        }
    }
}
