//
// Orders Plugin Styles
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================

// Component
// ========================================================================

// Index Orders
.table--orders {
    .table__col {
        &--2 {
            @extend %tcol15;
        }

        &--3 {
            @extend %tcol15;
        }

        &--4 {
            @extend %tcol18;
        }

        &--5 {
            @extend %tcol18;
        }

        &--options {
            @extend %tcol10;
        }
    }

    .table__opt {
        color: $textColor;
    }
}

// Cell Orders/Quotations
.list--orders {
    .list__item {
        border-bottom: 1px solid $grey;
        padding-bottom: 1em;

        &-label {
            display: inline-block;
            margin-right: 15px;
        }

        &-middle {
            align-self: flex-start;
        }

        &-dropdown {
            padding: 0 8px;
        }
    }
}

.table--torders {
    .table__col {
        &--2 {
            @include table-width(35%);
        }

        &--options {
            @include table-width(36px);
        }
    }
}

// Index Quotations
.table--quotations {
    .table__col {
        &--2 {
            @extend %tcol10;
        }

        &--3 {
            @extend %tcol15;
        }

        &--4 {
            @extend %tcol18;
        }

        &--options {
            @extend %tcol20;
        }
    }
}

// View Orders
.table--orderviewlines {
    .table__col {
        &--sel {
            @include table-width(25px);
            padding: 0;
        }

        &--2 {
            @extend %tcol10;
        }

        &--3 {
            @extend %tcol15;
        }

        &--4 {
            @extend %tcol20;
        }
    }
}

// Index Subdealers
.table--orderssub {
    .table__col {
        &--2 {
            @extend %tcol15;
        }

        &--3 {
            @extend %tcol10;
        }

        &--5,
        &--6,
        &--4 {
            @extend %tcol18;
        }
    }
}

.section {
    & + & {
        margin-top: 20px;
    }

    &.section--summary {
        display: block;
        margin-top: 35px;
    }
}

.summary {
    padding-top: 6px;
}

.summary__label {
    width: 80%;
}

.summary__value {
    width: 20%;
}


.product {
    .card__picture {
        height: 280px;
        overflow: hidden;
    }

    .card__image {
        margin-left: auto;
        margin-right: auto;
        max-height: 100%;
    }

    .card__footer {
        height: 58px;
    }

    &__option {
        border-bottom: 1px solid $grey;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

@include media-breakpoint-down("xs") {
    .list--orders {
        .list__item {
            &-content {
                flex-direction: column;
            }

            &-middle {
                margin-top: 5px;
            }
        }
    }
}

@include media-breakpoint-up("sm") {
    .list--orders {
        .list__item {
            &-content {
                flex-grow: 1;
            }

            &-info {
                flex-basis: 50%;
            }

            &-middle {
                align-self: center;
            }
        }
    }

    .product {
        .card__picture {
            height: 256px;
        }
    }
}

@include media-breakpoint-between("md", "lg") {
    .product {
        .card__picture {
            height: 163px;
        }
    }
}
