//
// Parking Plugin Styles
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================

// Component
// ========================================================================
.table--parking {
    .table__col {
        &--2,
        &--3,
        &--4,
        &--5 {
            @extend %tcol20;
        }
    }
}
