//
// Settings Styles
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================

// Component
// ========================================================================
.settings {
    height: 100%;
    padding: 1em;

    &-content {
        flex-grow: 1;
    }

    &-ch-password {
        max-width: 400px;
    }
}

.settings-menu {
    background-color: $white;
    border: 1px solid $grey;
    height: 100%;
    margin-right: 10px;
    max-width: 250px;
    width: 100%;

    .nav__item {
        border-bottom-color: $grey;

        &.is-current,
        &:hover {
            > .nav__link { // sass-lint:disable-line nesting-depth
                @extend %bold;
                background-color: transparent;
                color: $primary;
            }
        }
    }

    .nav__link {
        background-color: transparent;
        color: $dark;
        height: auto;
        padding: 12px 15px;
    }
}

.logo-container {
    height: 280px;
}
