//
// Warranties Plugin Styles
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================

// Component
// ========================================================================

.table--warranties {
    .table__col {
        &--1,
        &--4,
        &--5 {
            @extend %tcol15;
        }

        &--3 {
            @extend %tcol20;
        }

        &--options {
            @extend %tcol5;
        }
    }
}

.w-container {
    margin: 1rem;

    &__content {
        padding: 0 10px 20px;
    }
}

.warranty__history {
    margin-right: 15px;
    padding: 0 5px;
    position: relative;

    &-badge {
        position: absolute;
        right: -3px;
        top: 0;
    }

    .icon {
        margin: 0 !important; // sass-lint:disable-line no-important
    }
}

.warranty__header {
    &-title {
        border-bottom: 1px solid $primary;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

.warranty__saving {
    display: inline-flex;
    margin-right: 15px;

    &-spinner {
        @extend %is-loading;
        display: inline-block;
        height: 16px;
        margin-right: 8px;
        vertical-align: middle;
        width: 16px;

        &::after {
            border-color: $primary;
        }
    }
}

.warranty__model {
    height: 37px;

    & + &,
    & + .input {
        margin-top: 1em;
    }
}

.warranty__section {
    margin-top: 30px;

    &-title {
        border-bottom: 1px solid $primary;
    }

    &-info {
        padding: 0 10px;
    }

    &--attachments {
        .file {
            margin-top: 1em;
        }
    }
}

.warranty__partsadd-header {
    border-bottom: 1px solid $grey;
    padding: 2px 10px;
}

.table--wparts {
    .table__col {
        &--3 {
            @extend %tcol30;
        }

        &--2,
        &--4,
        &--options {
            @extend %tcol10;
        }
    }
}

.prewarranty {
    flex-direction: column;

    &__btn {
        height: 4rem;
        transition: background-color .2s ease;
    }
}

.w-part__btn {
    height: auto;
}


// History
//
//

.history {
    &__header {
        border-bottom: 1px solid $grey;
        padding: 0 10px 5px;
    }

    &__lines {
        padding: 10px 15px;
    }

    &__line {
        padding: 5px 0;
    }

    & + & {
        margin-top: 20px;
    }
}

@include media-breakpoint-down("lg") {
    .warranty__comments {
        margin-top: 15px;
    }
}

@include media-breakpoint-up("lg") {
    &--4 {
        @include table-width(15%);
    }
}
