//
// Drift Plugin
// --------------------------------------------------

// Variables
// ========================================================================
$driftBgPane: rgba(0, 0, 0, .5);
$driftInlineBoxShadow: rgba(0, 0, 0, .3);
$zoomPaneLoaderBg: rgba(255, 255, 255, .9);
$driftBoundingBg: rgba(0, 0, 0, .4);

$driftSize: 250px;

// Placeholders
// ========================================================================
%zoompaneloader {
    background: $zoomPaneLoaderBg;
    border-radius: 20px;
    content: "";
    display: block;
    height: 20px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 20px;
}

// Component
// ========================================================================
// DRIF PLUGIN
//
@keyframes drift-fadeZoomIn {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes drift-fadeZoomOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }


    15% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        transform: scale(.5);
    }
}

@keyframes drift-loader-rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    50% {
        transform: translate(-50%, -50%) rotate(-180deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes drift-loader-before {
    0% { transform: scale(1); }
    10% { transform: scale(1.2) translateX(6px); }
    25% { transform: scale(1.3) translateX(8px); }
    40% { transform: scale(1.2) translateX(6px); }
    50% { transform: scale(1); }
    60% { transform: scale(.8) translateX(6px); }
    75% { transform: scale(.7) translateX(8px); }
    90% { transform: scale(.8) translateX(6px); }
    100% { transform: scale(1); }
}

@keyframes drift-loader-after {
    0% { transform: scale(1); }
    10% { transform: scale(1.2) translateX(-6px); }
    25% { transform: scale(1.3) translateX(-8px); }
    40% { transform: scale(1.2) translateX(-6px); }
    50% { transform: scale(1); }
    60% { transform: scale(.8) translateX(-6px); }
    75% { transform: scale(.7) translateX(-8px); }
    90% { transform: scale(.8) translateX(-6px); }
    100% { transform: scale(1); }
}

.drift-zoom-pane {
    background: $driftBgPane;
    transform: translate3d(0, 0, 0);

    &.drift-opening {
        animation: drift-fadeZoomIn 180ms ease-out;
    }

    &.drift-closing {
        animation: drift-fadeZoomOut 210ms ease-in;
    }

    &.drift-inline {
        border-radius: 50%;
        box-shadow: 0 6px 18px $driftInlineBoxShadow;
        height: $driftSize;
        left: -100%;
        position: absolute;
        top: 0;
        width: $driftSize;
    }
}

.drift-loading {
    .drift-zoom-pane-loader {
        animation: drift-loader-rotate 1800ms infinite linear;
        display: block;
        height: 20px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 66px;
    }
}

.drift-zoom-pane-loader {
    &::after {
        animation: drift-loader-after 1800ms infinite linear;
        animation-delay: -900ms;
        right: 0;
    }

    &::before {
        @extend %zoompaneloader;
        animation: drift-loader-before 1800ms infinite linear;
        left: 0;
    }

    .drift-zoom-pane-loader {
        &::after {
            @extend %zoompaneloader;
        }
    }
}

.drift-bounding-box {
    background-color: $driftBoundingBg;
}
