//
// Navigation
// --------------------------------------------------

// Variables
// ========================================================================
$linkColor: #eee;
$linkBorderColor: #444;
$linkBgColor: $darkLight;

$navIsOpenBg: #222;

$navIsHoverBg: #222;
$navIsHoverColor: #fff;

$childrenLinkColorOnHover: #555;

// Active
$linkActiveColor: $primary;
$activeArrowColor: $background;
$activeNavBadgeBg: #fff;
$activeNavBadgeColor: #222;

// Placeholders
// ========================================================================
%active-state {
    background-color: $linkActiveColor;
}

// Component
// ========================================================================
.nav {
    &__item {
        border-bottom: 1px solid $linkBorderColor;
        overflow: hidden;
        position: relative;
    }

    &__link {
        align-items: center;
        background-color: $linkBgColor;
        color: $linkColor;
        display: flex;
        height: 52px;
        padding: 1em;
        transition: background-color .2s cubic-bezier(0, 0, 1, .42);

        &:hover {
            background-color: $navIsHoverBg;
            color: $navIsHoverColor;

            .badge {
                background-color: $activeNavBadgeBg;
                color: $activeNavBadgeColor;
            }
        }

        .badge {
            margin-left: 8px;
        }
    }

    &__icon {
        @extend %icon16;
        overflow: visible !important; // sass-lint:disable-line no-important

        &:not(.nav__icon--caret) {
            margin-right: 10px;
            transition: margin .3s ease;
        }

        &--caret {
            height: 12px;
            line-height: 1;
            margin-left: auto;
            transform: rotate(0);
            transition: transform .2s ease;
            width: 12px;
        }
    }

    &__children {
        height: 100%;
        max-height: 0;
        overflow-y: hidden;
        padding: 0;
        transition: max-height .3s cubic-bezier(0, 1, .5, 1), padding .2s linear;

        .nav__item {
            border-bottom: 0;
        }

        .nav__link {
            height: auto;
            padding: .5em 1em;

            &:hover {
                background: $childrenLinkColorOnHover;
            }
        }
    }
}

// States
//

.nav__item.is-current, // sass-lint:disable-line force-element-nesting
.nav__item--child-is-current { // sass-lint:disable-line force-element-nesting
    > .nav__link {
        @extend %active-state;

        .badge {
            background-color: $activeNavBadgeBg;
            color: $activeNavBadgeColor;
        }
    }

    &:not(.nav__item--has-children) {
        .nav__link {
            &::after { // sass-lint:disable-line nesting-depth
                border-bottom: 10px solid transparent;
                border-right: 10px solid $activeArrowColor;
                border-top: 10px solid transparent;
                content: " ";
                height: 0;
                margin-top: -10px;
                position: absolute;
                right: 0;
                top: 50%;
                width: 0;
            }
        }
    }
}

.nav__item.is-open { // sass-lint:disable-line force-element-nesting
    > .nav__link {
        background-color: $navIsOpenBg;
    }

    .nav__icon--caret {
        transform: rotate(-90deg);
    }

    .nav__children {
        max-height: 300px;
        overflow-y: scroll;
        padding: 8px 0;
        transition: max-height .5s cubic-bezier(0, 1, .5, 1), padding .2s linear;
    }
}

@include media-breakpoint-between("md", "md") {
    .nav__icon {
        &:not(.nav__icon--caret) {
            margin-left: 6px;
            margin-right: 50px;
        }

        &--caret {
            display: none;
        }
    }
}

// Has small menu
/*.small-sidebar {
    .nav__link {
        width: 240px;
    }

    .nav__icon {
        &--logo {
            margin-left: 5px;
            margin-right: 50px;
        }

        &--caret {
            display: none;
        }
    }

    .nav__children {
        background-color: $linkBgColor;
        left: 70px;
        max-height: 500px;
        position: absolute;
        width: 170px;

        .nav__link {
            width: 100%;
        }
    }

    .nav__item:hover { // sass-lint:disable-line force-pseudo-nesting
        overflow: visible;
    }
}*/
