//
// Alert
// --------------------------------------------------

// Variables
// ========================================================================
$alertColor: $darkLight;
$alertFontSize: 14px !default;

// Types

$alertSuccessBg: $green !default;
$alertSuccessColor: #fff !default;

$alertErrorBg: $primary !default;
$alertErrorColor: #fff !default;


// Placeholders
// ========================================================================


// Component
// ========================================================================
.alert {
    @extend %txt-center;
    color: $alertColor;
    font-size: $alertFontSize;
    max-height: 99999px;
    overflow: hidden;
    padding: 18px 15px;
    position: relative;
    transition: max-height .2s cubic-bezier(0, 0, .26, 1.1), padding .2s cubic-bezier(0, 0, .26, 1.1);
    width: 100%;

    &.is-closable {
        padding: 18px 40px 18px 15px;
    }

    &.is-hidden {
        max-height: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    .close {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

// Alert styles
//
.alert { // sass-lint:disable-line no-mergeable-selectors
    &--success {
        @include alert-variant($alertSuccessBg, $alertSuccessColor);
    }

    &--error {
        @include alert-variant($alertErrorBg, $alertErrorColor);
    }
}
