//
// Attachment file style
// --------------------------------------------------

// Variables
// ========================================================================
$fileHeight: 52px !default;

$fileLoadingColor: $primary !default;
$fileLoadingSize: 16px !default;
$fileLoadingWidth: 2px !default;

// Placeholders
// ========================================================================

// Component
// ========================================================================
.file {
    @extend %flex;
    align-items: center;
    border: 1px solid $greyDark;
    height: $fileHeight;
    justify-content: space-between;
    overflow: hidden;
    padding: 8px;
    position: relative;

    &__icon {
        margin-right: 8px;
    }

    &__close {
        padding-left: 8px;
    }

    &__btn {
        line-height: 1;
        margin-left: 8px;

        &--loader {
            @extend %is-loading;
            height: $fileLoadingSize;
            width: $fileLoadingSize * 2;

            &::after {
                border-bottom-color: $fileLoadingColor;
                border-left-color: $fileLoadingColor;
                border-width: $fileLoadingWidth;
                height: $fileLoadingSize;
                width: $fileLoadingSize;
            }
        }
    }

    &--add {
        border: 2px dashed $greyDark;
        color: $greyDark;
        flex-wrap: wrap;
        //height: $fileHeight;
        padding: 5px;
        width: 100%;
    }
}
