//
// Badge
// --------------------------------------------------

// Variables
// ========================================================================
$badgePadding: .6em;

$badgeDefaultBg: $greyDark;
$badgeDefaultColor: #fff;

// Types

$badgeSuccessBg: $green;
$badgeSuccessColor: #fff;

$badgeErrorBg: $primary;
$badgeErrorColor: #fff;

$badgeNoticeBg: $blue;
$badgeNoticeColor: #fff;

$badgeWarningBg: $yellow;
$badgeWarningColor: $dark;

// Sizes
$badgeMediumFontSize: 14px;


// Placeholders
// ========================================================================
@mixin badge-variant($background: "transparent", $color: $darkLight) {
    background-color: $background;
    color: $color;
}


// Component
// ========================================================================

@keyframes badgeAnim {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1);
    }
}

.badge {
    background-color: $badgeDefaultBg;
    border-radius: 4px;
    color: $badgeDefaultColor;
    display: inline-flex;
    font-size: 10px;
    line-height: 1.5em;
    overflow: hidden;
    padding-left: $badgePadding;
    padding-right: $badgePadding;
    transition: opacity .15s ease-in, transform .3s cubic-bezier(.11, .82, .68, 1.05);

    &--error {
        @include badge-variant($badgeErrorBg, $badgeErrorColor);
    }

    &--success {
        @include badge-variant($badgeSuccessBg, $badgeSuccessColor);
    }

    &--notice {
        @include badge-variant($badgeNoticeBg, $badgeNoticeColor);
    }

    &--warning {
        @include badge-variant($badgeWarningBg, $badgeWarningColor);
    }

    &--medium {
        font-size: $badgeMediumFontSize;
    }
}
