//
// Breadcrumbs
// --------------------------------------------------

// Variables
// ========================================================================
// $linkColor: #90999c;
$bdcrumbLinkColor: #545454;

// $bdcrumbSeparatorColor: #ccc;
$bdcrumbSeparatorColor: $dark;

// Placeholders
// ========================================================================

// Component
// ========================================================================
.breadcrumb {
    &__separator {
        @extend %bold;
        color: $bdcrumbSeparatorColor;
        margin-left: 5px;
        margin-right: 5px;
    }

    &__link {
        color: $bdcrumbLinkColor;
    }
}
