//
// Buttons
// --------------------------------------------------

// Variables
// ========================================================================
$btnBorderRadius: 3px;
$btnPadding: .75em;

// Default
$btnDefaultColor: $darkLight;
$btnDefaultBg: #fff;
$btnDefaultBorder: #dbdbdb;


// Success
$btnSuccessColor: #fff;
$btnSuccessBg: $green;
$btnSuccessBorder: $green;

$btnSuccessHoverBg: darken($green, 5%);
$btnSuccessHoverColor: #fff;

// Error
$btnErrorColor: #fff;
$btnErrorBg: $primary;
$btnErrorBorder: $primary;

$btnErrorHoverBg: darken($primary, 5%);
$btnErrorHoverColor: #fff;

// Warning
$btnWarningColor: $darkLight;
$btnWarningBg: $yellow;
$btnWarningBorder: $yellow;

$btnWarningHoverBg: darken($yellow, 5%);
$btnWarningHoverColor: $darkLight;

// Notice
$btnNoticeColor: #fff;
$btnNoticeBg: $blue;
$btnNoticeBorder: $blue;

$btnNoticeHoverBg: darken($blue, 5%);
$btnNoticeHoverColor: #fff;

// Link
$btnLinkColor: $btnDefaultColor;
$btnLinkBg: transparent;
$btnLinkBorder: transparent;

$btnLinkHoverBg: transparent;
$btnLinkHoverColor: $btnDefaultColor;


// Loading
$btnLoadingBorder: #dbdbdb;

// Placeholders
// ========================================================================


// Component
// ========================================================================
@keyframes spinAround {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.btn {
    @extend %is-selectable;
    @extend %is-unselectable;
    align-items: center;
    background-color: $btnDefaultBg;
    border: 1px solid $btnDefaultBorder;
    border-radius: $btnBorderRadius;
    box-shadow: none;
    color: $btnDefaultColor;
    display: inline-flex;
    font-size: 1rem;
    height: 2.285em;
    justify-content: center;
    line-height: 1.56;
    padding-left: $btnPadding;
    padding-right: $btnPadding;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;

    .icon {
        height: 22px;
        width: 22px;

        &:first-child:not(:last-child) { // sass-lint:disable-line force-pseudo-nesting
            margin-left: calc(-.375em - 1px);
            margin-right: .5rem;
        }

        &:last-child:not(:first-child) { // sass-lint:disable-line force-pseudo-nesting
            margin-left: .5rem;
            margin-right: calc(-.375em - 1px);
        }

        // &:first-child:last-child { // sass-lint:disable-line force-pseudo-nesting
        //     margin-left: calc(-.375em - 1px);
        //     margin-right: calc(-.375em - 1px);
        // }
    }

    // State
    &:focus,
    &:active {
        outline: none;
    }

    // Types
    &--success {
        @include button-variant($btnSuccessBg, $btnSuccessColor, $btnSuccessBorder, $btnSuccessHoverBg, $btnSuccessHoverColor);
    }

    &--error {
        @include button-variant($btnErrorBg, $btnErrorColor, $btnErrorBorder, $btnErrorHoverBg, $btnErrorHoverColor);
    }

    &--warning {
        @include button-variant($btnWarningBg, $btnWarningColor, $btnWarningBorder, $btnWarningHoverBg, $btnWarningHoverColor);
    }

    &--notice {
        @include button-variant($btnNoticeBg, $btnNoticeColor, $btnNoticeBorder, $btnNoticeHoverBg, $btnNoticeHoverColor);
    }

    &--link {
        @include button-variant($btnLinkBg, $btnLinkColor, $btnLinkBorder, $btnLinkHoverBg, $btnLinkHoverColor);
        text-decoration: underline;
    }

    &--reset {
        @include button-variant(transparent, inherit, transparent, transparent, inherit);
        padding: 0;
    }

    &--loading {
        @extend %is-loading;
    }

    // Sizes
    &--small {
        font-size: .75rem;

        .icon {
            height: 18px;
            width: 18px;
        }
    }

    &--medium {
        font-size: 1.25rem;
    }

    &--large {
        font-size: 1.5rem;
    }

    &--block {
        display: flex;
        width: 100%;
    }

    // State
    &.is-disabled {
        cursor: not-allowed;

        .icon {
            fill: $grey;
        }
    }
}

.btn-group {
    @extend %flex;

    .btn {
        flex-shrink: 0;
        margin-bottom: 0;
    }

    &:not(.btn-group--column):not(.btn-group--column-reverse) { // sass-lint:disable-line force-pseudo-nesting
        .btn + .btn {
            margin-left: .75rem;
        }
    }

    &.btn-group--column {
        flex-direction: column;

        .btn + .btn {
            margin-top: .65rem;
        }
    }

    &.btn-group--column-reverse {
        flex-direction: column-reverse;

        .btn + .btn {
            margin-bottom: .65rem;
        }
    }

    &--block {
        .btn {
            flex-basis: calc(50% - .375rem);
            max-width: calc(50% - .375rem);
        }
    }

    &--right {
        justify-content: flex-end;
    }
}
