//
// Bubble
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================


// Component
// ========================================================================
.bubble {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    vertical-align: middle;
    width: 10px;

    &--success {
        background-color: $green;
    }

    &--error {
        background-color: $primary;
    }

    &--warning {
        background-color: $yellow;
    }
}
