//
// Card
// --------------------------------------------------

// Variables
// ========================================================================
$partSkuColor: #000;
$cardLineHover: #f4f4f4;

$partDisabledBg: rgba(255, 255, 255, .5);
$partBackBg: #fff;

// Placeholders
// ========================================================================


// Component
// ========================================================================
.cardline {
    align-items: center;
    border-bottom: 1px solid $grey;
    display: flex;
    transition: background-color .3s ease-out;

    &__number {
        @extend %bold;
        font-size: 80%;
        text-align: center;
        width: 15%;
    }

    &__items {
        border-left: 1px solid $grey;
        width: 85%;
    }

    // State
    &:hover {
        .cardline__number {
            color: $primary;
            font-size: 95%;
        }
    }
}

.parts {
    .no-results {
        font-size: 16px;
        padding: 1.5rem 1rem;
    }
}

.part {
    font-size: 12px;
    position: relative;

    & + & {
        border-top: 1px solid $grey;
    }

    &__inner {
        display: flex;
        flex-direction: row-reverse;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    &__front,
    &__back {
        min-height: 69px;
        min-width: 100%;
    }

    // Front
    &__front {
        padding: 5px 12px;

        .part__content {
            margin-top: 10px;
        }
    }

    &__name {
        display: block;
        font-size: 14px;
    }

    &__sku {
        color: $partSkuColor;
        display: block;
        line-height: 1;
    }

    &__content {
        flex-grow: 1;
        justify-content: space-between;
    }

    // Back
    &__back {
        // background-color: $partBackBg;

        &-content {
            height: 100%;
        }

        .part__content {
            align-items: center;
            background-color: $white;
            border-left: 1px solid $grey;
            height: 100%;
            padding: 10px 15px;
        }

        &-addtocart {
            flex-grow: 1;
            margin-left: 1em;
        }
    }

    &__close {
        padding: 10px 8px;
        text-align: center;

        &-text {
            display: block;
        }

        .icon {
            margin-top: 5px;
        }
    }

    // State
    &:not(.is-disabled) {
        .part__front {
            &:hover {
                background-color: $cardLineHover;
            }
        }
    }

    &.is-disabled {
        cursor: not-allowed;
        opacity: 1;
        pointer-events: none;
        position: relative;

        .part__inner {
            &::before {
                background-color: $partDisabledBg;
                bottom: 0;
                content: "";
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;
            }

            &::after {
                color: $primary;
                content: "NO DISPONIBLE";
                font-size: 20px;
                font-weight: 700;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%) rotate(-12deg);
                white-space: nowrap;
                z-index: 2;
            }
        }
    }

    &::after {
        background-color: $green;
        bottom: 0;
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        transition: width .2s linear;
        width: 0;
    }

    &.is-inside {
        &::after {
            width: 4px;
        }
    }
}
