//
// Card
// --------------------------------------------------

// Variables
// ========================================================================
$cardBgColor: $white;
$cardBorderColor: #e2e2e2;
$cardBoxShadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);

$cardTitleColor: $textColor;
$cardSubtitleColor: #a0a0a0;

$cardFooterItemBorder: $grey;

// Placeholders
// ========================================================================


// Component
// ========================================================================
.card {
    background: $cardBgColor;
    // border: 1px solid $cardBorderColor;
    border-radius: .25em;
    // box-shadow: 0 5px 5px -5px $cardBoxShadowColor;
    box-shadow: $cardBoxShadow;
    margin-bottom: 2em;
    overflow: hidden;
    position: relative;

    &__header {
        @extend %flex;
        align-items: stretch;
        // box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
        border-bottom: 1px solid $cardBorderColor;

        &-title {
            @extend %flex;
            @extend %bold;
            align-items: center;
            flex-grow: 1;
            padding: .75rem;
        }

        &-icon {
            @extend %flex;
            align-items: center;
            justify-content: center;
            padding: .75rem;
        }
    }

    &__link,
    &__image {
        display: block;
    }

    &__picture {
        border-bottom: 1px solid $cardBorderColor;
    }

    &__cover {
        border-bottom: 1px solid $cardBorderColor;
        //margin: (-$cardContentPadding) (-$cardContentPadding) $cardContentPadding;
    }

    &__info {
        @extend %bold;
        padding: .75em 1em 1.5em;
    }

    &__title {
        color: $cardTitleColor;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    &__subtitle {
        color: $cardSubtitleColor;
        display: block;
        font-size: 12px;
    }

    &__footer {
        @extend %flex;
        border-top: 1px solid $cardBorderColor;

        &-item {
            @extend %flex;
            align-items: center;
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 0;
            justify-content: center;
            padding: .75rem;

            &:not(:last-child) {
                border-right: 1px solid $cardFooterItemBorder;
            }
        }
    }
}
