//
// Close (X)
// --------------------------------------------------

// Variables
// ========================================================================
$closeColor: $white !default;
$closeDarkColor: $dark !default;
$closeSize: 2px !default;

$closeBoxHeight: 35px !default;
$closeBoxWidth: 35px !default;


// Placeholders
// ========================================================================


// Component
// ========================================================================
.close {
    @extend %is-selectable;
    display: block;
    height: $closeBoxHeight;
    position: relative;
    width: $closeBoxWidth;

    &::before,
    &::after {
        background-color: $closeColor;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform-origin: center center;
    }

    &::after {
        height: 50%;
        width: $closeSize;
    }

    &::before {
        height: $closeSize;
        width: 50%;
    }

    &--dark {
        &::before,
        &::after {
            background-color: $closeDarkColor;
        }
    }

    &--block {
        &::after {
            height: 100%;
        }

        &::before {
            width: 100%;
        }
    }
}
