//
// Dropdown
// --------------------------------------------------

// Variables
// ========================================================================
$dropdownContentMarginTop: 10px;
$dropdownContentMinWidth: 12rem;

$dropdownPaddingSide: 5px;

$dropdownBorder: $grey;
$dropdownBg: #fff;
$dropdownColor: $darkLight;
$dropdownBoxShadow: rgba(120, 120, 120, .3);

$dropdownHoverBg: $primary;
$dropdownHoverColor: #fff;

$dropdownActiveBg: transparent;
$dropdownActiveColor: $primary;


// Component
// ========================================================================
.dropanim {
    /*&-appear {
        opacity: 0;
        transition: opacity .7s ease-in;

        &.dropanim-appear-active {
            opacity: 1;
        }
    }*/

    &-enter {
        opacity: 0;
        transition: opacity .3s cubic-bezier(.65, .05, .36, 1);

        &.dropanim-enter-active {
            opacity: 1;
        }
    }

    &-leave {
        opacity: 1;
        transition: opacity .3s cubic-bezier(.65, .05, .36, 1);

        &.dropanim-leave-active {
            opacity: 0;
        }
    }
}


.dropdown {
    display: inline-block;
    position: relative;

    &__trigger {
        line-height: 0;
    }

    &__content {
        display: none;
        margin-top: $dropdownContentMarginTop;
        min-width: $dropdownContentMinWidth;
        position: absolute;
        z-index: 999999;
    }
}

.dropdown--is-active .dropdown__content { // sass-lint:disable-line force-element-nesting
    display: block;
}


.dropdown__menu {
    background-color: $dropdownBg;
    border: 1px solid $dropdownBorder;
    border-radius: 3px;
    box-shadow: 0 0 3px $dropdownBoxShadow;
    color: $dropdownColor;
    padding: 10px $dropdownPaddingSide;

    &::before,
    &::after {
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        content: "";
        height: 0;
        position: absolute;
        width: 0;
        z-index: 1;
    }

    &::before {
        border-bottom-color: $dropdownBorder;
        top: -12px;
    }

    &::after {
        border-bottom-color: $dropdownBg;
        top: -10px;
    }

    &-item {
        display: block;
        font-size: 16px;
        padding: 5px 8px;
        position: relative;
        z-index: 2;

        &a {
            white-space: nowrap;
        }

        // &--is-current {}

        &:hover {
            background-color: $dropdownHoverBg;
            color: $dropdownHoverColor;
        }

        &.is-current {
            background-color: $dropdownActiveBg;
            color: $dropdownActiveColor;
        }
    }

    &-separator {
        border-top: 1px solid $grey;
        margin-top: 10px;
        padding-left: -$dropdownPaddingSide;
        padding-right: -$dropdownPaddingSide;
        padding-top: 10px;
    }
}


// Arrow position
//
.dropdown { // sass-lint:disable-line no-mergeable-selectors
    &--centered {
        .dropdown__content {
            left: 50%;
            transform: translateX(-50%);
        }

        .dropdown__menu {
            &::before,
            &::after {
                left: 50%;
                margin-left: -10px;
            }
        }
    }

    &--left {
        .dropdown__content {
            left: 0;
            margin-left: -15px;
        }

        .dropdown__menu {
            &::before,
            &::after {
                left: 10px;
            }
        }
    }

    &--right {
        .dropdown__content {
            margin-right: -15px;
            right: 0;
        }

        .dropdown__menu {
            &::before,
            &::after {
                right: 10px;
            }
        }
    }
}
