//
// Form
// --------------------------------------------------

// Variables
// ========================================================================
$formLabelTextColor: #9fa6aa;
$formLabelFontSize: 12px;

$formBorderColor: $grey;
$formBgColor: #f6f9fa;
$formTextColor: $textColor;

$formInputPadding: 5px 10px;
$formInputPlaceholder: #8c8c8c;

$formReadOnlyBg: #f4f4f4;

// $formHeight: 3.046em;
$formHeight: 2.85em;
$formPlaceholder: #bcbec0;

$formAddonBg: #f1f1f1;

$formIconColor: $textColor;

$formSelectArrow: $textColor;

// Tags
$inputTagBg: $grey;
$inputTagBorder: $grey;
$inputTagRemoveColor: #888;
$inputTagSpacing: 5px;


// Error
$formLabelErrorColor: $primary;
$formInputErrorBorder: $primary;

// Placeholders
// ========================================================================
%readonly {
    background-color: $formReadOnlyBg;
    pointer-events: none;
}

// Component
// ========================================================================
.form--wm {
    .input {
        margin-top: 1em;
    }
}

.input {
    // height: $formHeight;

    &__label {
        display: block;
        margin-bottom: 5px;

        &-addon {
            color: $primary;
            margin-left: 8px;
        }
    }

    &__all {
        @extend %txt-small;
        @extend %is-selectable;
        padding: 0 5px;
    }

    & + & {
        margin-top: 1em;
    }

    &__field {
        @extend %normal;
        // background-color: $formBgColor;
        border: 1px solid $formBorderColor;
        color: $formTextColor;
        flex: 1;
        font-size: 13px;
        // height: 100%;
        height: $formHeight;
        min-width: 20px;
        // outline: 0;
        padding: $formInputPadding;
        width: 100%;

        &:invalid {
            box-shadow: none;
        }

        &[readonly] {
            @extend %readonly;
        }

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $formInputPlaceholder;
        }
    }

    &__icon {
        fill: $formIconColor;
    }

    &__help {
        font-size: 12px;
        margin-top: 5px;
    }

    // State
    &.is-required {
        .input__label {
            &::after {
                color: $primary;
                content: "*";
                font-weight: 700;
                line-height: 1;
                margin-left: 5px;
            }
        }
    }
}

.input-group {
    @extend %flex;
    align-items: center;
    margin-bottom: 1em;

    .input + .input {
        margin-left: 15px;
        margin-top: 0;
    }
}

// Group
.input__group {
    display: flex;
    height: 100%;

    .input__field {
        &:not(:last-child) {
            border-right: 0 none;
        }

        &:not(:first-child) {
            border-left: 0 none;
        }
    }

    .input__addon {
        align-items: center;
        background-color: $formAddonBg;
        border: 1px solid $formBorderColor;
        display: inline-flex;
        justify-content: center;
        padding: 0 8px;
        vertical-align: middle;

        //.icon { height: 65%; width: 65%; }

        &:first-child {
            border-right: 0 none;
        }

        &:last-child {
            border-left: 0 none;
        }
    }

    .input__addon + [disabled],
    [disabled] + .input__addon {
        border-left: 1px solid $formBorderColor;
    }
}

//
// Errors
.input--has-error {
    .input__label {
        color: $formLabelErrorColor;
    }

    .input__field,
    .input__addon {
        border-color: $formInputErrorBorder;
    }

    .input__help--error {
        color: $formLabelErrorColor;
    }
}

.input__submit {
    padding-left: 1.5em;
    padding-right: 1.5em;
}


// Custom Input types
.input--inline {
    min-width: 250px;

    .input__field {
        border: 0 none;
        border-bottom: 1px solid $formBorderColor;
    }
}

.input--numeric {
    .input__field {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
}

// Textarea
.input--textarea {
    .input__field {
        min-height: 88px;
        padding: 10px;
        resize: none;
    }
}

.input--checkbox {
    font-size: 14px;
    height: auto;

    .input__field {
        background-color: transparent;
        border: 0 none;
        display: inline-block;
        height: 18px;
        margin-right: 5px;
        margin-top: -1px;
        vertical-align: middle;
        width: 18px;
    }
}

// Horizontal
.input--horizontal {
    align-items: center;
    display: flex;

    .input__label {
        margin-bottom: 0;
        margin-right: 10px;
    }
}


// Password
.input--password {
    .icon__svg {
        opacity: .5;
    }

    &.is-showing {
        .icon__svg {
            opacity: 1;
        }
    }
}

// Select
//
.select-wrapper {
    border: 1px solid $formBorderColor;
    height: 2.647em;
    padding: $formInputPadding;
    position: relative;

    &.is-loading {
        @extend %is-loading;

        &::after {
            left: auto;
            margin-left: 0;
            right: 10px;
        }
    }

    &:not(.is-loading)::after { // sass-lint:disable-line force-pseudo-nesting
        border: solid transparent;
        border-top-color: $textColor;
        border-width: 5px;
        content: " ";
        height: 0;
        margin-top: -2px;
        pointer-events: none;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 0;
        z-index: 100;
    }

    .input__field {
        appearance: none;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        height: 100%;
        padding: 0 18px 0 0;

        &.is-empty {
            color: $formInputPlaceholder;
        }

        &[readonly] {
            @extend %readonly;
        }
    }
}

.input--translations {
    .input__addon {
        position: relative;
    }
}

.lang-dropdown {
    &__trigger {
        @extend %flex;
        align-items: center;
    }

    // &__current {}

    &__caret {
        margin-left: 8px;
    }

    &__list {
        background-color: $formAddonBg;
        border: 1px solid $formBorderColor;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        transition: opacity .2 ease-in;
        width: 100%;
        z-index: 0;

        &--top {
            bottom: 100%;
            top: auto;
        }

        &.is-open {
            opacity: 1;
            pointer-events: all;
            z-index: 9999;
        }
    }

    &__lang {
        display: block;
        padding: 5px;

        &--has-value {
            &::after {
                background-color: $green;
                border-radius: 50%;
                content: "";
                display: inline-block;
                height: 5px;
                margin-left: 5px;
                position: relative;
                top: -1px;
                vertical-align: middle;
                width: 5px;
            }
        }

        &:hover {
            color: $primary;
        }
    }
}


// Simple Upload
//
.upload-box {
    @extend %flex;

    &__text {
        flex-grow: 1;
    }

    &__btn {
        align-items: center;
        background-color: $formAddonBg;
        border: 1px solid $formBorderColor;
        border-left: 0;
        display: inline-flex;
        justify-content: center;
        overflow: hidden;
        padding: 0 10px;
        position: relative;
    }

    &__label {
        font-size: 12px;
    }

    &__field {
        @extend %is-selectable;
        height: 100%;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

// Tags
.input-tag {
    border: 1px solid $inputTagBorder;
    padding: $inputTagSpacing $inputTagSpacing 0;

    > span {
        @extend %flex;
        align-items: stretch;
        flex-wrap: wrap;
    }

    &__tag {
        align-items: center;
        background-color: $inputTagBg;
        display: inline-flex;
        margin-bottom: $inputTagSpacing;
        margin-right: $inputTagSpacing;
        padding: 3px $inputTagSpacing;
    }

    &__remove {
        height: 10px;
        margin-left: $inputTagSpacing;
        width: 10px;

        &::before,
        &::after {
            background-color: $inputTagRemoveColor;
        }
    }

    &__field {
        background-color: transparent;
        border: 0;
        color: $formTextColor;
        display: inline-flex;
        margin: 0 0 $inputTagSpacing;
        min-height: 1.79em;
        padding: 0;
    }
}

@include media-breakpoint-down("sm") {
    .input--numeric {
        .input__field {
            padding: 0;
        }
    }
}
