//
// Hamburger menu
// --------------------------------------------------

// Variables
// ========================================================================
$hamBtnBg: rgb(80, 80, 80) !default;

// Position
$hamBtnTop: 10px !default;

// Size
$hamBtnHeight: 25px !default;
$hamBtnWidth: 40px !default;

$hamLinesHeight: 5px !default;

// Effect
$hamBtnSeparation: 10px !default;


// Component
// ========================================================================
.menu-mbl {
    height: $hamBtnHeight;
    position: relative;
    width: $hamBtnWidth;
}

.lines {
    top: $hamBtnTop;

    &,
    &::before,
    &::after {
        background: $hamBtnBg;
        height: $hamLinesHeight;
        position: absolute;
        transition: .3s;
        width: 100%;
    }

    &::before,
    &::after {
        content: "";
        display: block;
        transform-origin: 1px center;
    }

    &::before {
        top: -$hamBtnSeparation;
    }

    &::after {
        top: $hamBtnSeparation;
    }
}

.menu-mbl.is-open { // sass-lint:disable-line force-element-nesting
    .lines {
        background: transparent;

        &::before,
        &::after {
            top: 0;
            transform-origin: 50% 50%;
        }

        &::before {
            transform: rotate3d(0, 0, 1, 45deg);
        }

        &::after {
            transform: rotate3d(0, 0, 1, -45deg);
        }
    }
}
