//
// Images
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================


// Component
// ========================================================================
.image-break {
    align-items: center;
    background-color: $grey;
    display: flex;
    justify-content: center;

    .icon {
        color: $white;
        height: 45px;
        width: 45px;
    }
}
