//
// Information
// --------------------------------------------------

// Variables
// ========================================================================
$informationBg: #343840 !default;
$informationColor: #d0d2d4 !default;
$informationRadius: 3px !default;

// Placeholders
// ========================================================================


// Component
// ========================================================================
.information {
    @extend %flex;
    align-items: center;
    background-color: $informationBg;
    @if stripUnit($informationRadius) > 0 {
        border-radius: $informationRadius;
    }
    color: $informationColor;
    padding: 1rem 1.25rem;

    &__icon {
        margin-right: 1rem;
    }

    &--warranty {
        background-color: $yellow;
        color: $dark;
    }
}
