//
// LightBox
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================


// Component
// ========================================================================
.lightbox {
    &__close {
        color: $white;
    }

    &__image {
        display: block;
    }

    .is-loading {
        @extend %is-loading;

        &::after {
            border-width: 4px;
            height: 3rem;
            width: 3rem;
        }
    }
}
