//
// Pagination
// --------------------------------------------------

// Variables
// ========================================================================
$paginationBorderRadius: 3px;
$paginationHeight: 2.285em;
$paginationPadding: .5em;

$paginationLinkMinWidth: 2.5em;
$paginationLinkBorder: $grey;

// Active
$paginationLinkActiveBg: $primary;
$paginationLinkActiveBorder: $primary;
$paginationLinkActiveColor: #fff;

// Hover
$paginationLinkHoverBg: transparent;
$paginationLinkHoverBorder: $textColor;
$paginationLinkHoverColor: $textColor;

// Disabled
$paginationLinDisabledBorder: transparent;
$paginationLinkDisabledBg: #dbdbdb;
$paginationLinkDisabledColor: #7a7a7a;

// Placeholders
// ========================================================================
%pagination {
    align-items: center;
    display: flex;
    justify-content: center;
}

@mixin paginationLink-variant($background: transparent, $color: #fff, $border: transparent) {
    background-color: $background;
    border-color: $border;
    color: $color;
}

// Component
// ========================================================================
.pagination {
    @extend %pagination;
    margin-bottom: 1rem;
    margin-top: 1rem;

    &__list {
        @extend %pagination;

        &:not(:first-child) {
            margin-left: .75em;
        }

        li {
            &:not(:first-child) {
                margin-left: .375rem;
            }
        }
    }

    &__link {
        align-items: center;
        border-radius: $paginationBorderRadius;
        border: 1px solid $paginationLinkBorder;
        display: inline-flex;
        font-size: .875rem;
        height: $paginationHeight;
        justify-content: center;
        line-height: 1.5;
        min-width: $paginationLinkMinWidth;
        padding-left: $paginationPadding;
        padding-right: $paginationPadding;
        position: relative;
        text-align: center;
        vertical-align: top;
    }
}

.pagination__link {
    &--ellipsis {
        user-select: none;
    }

    &--prev,
    &--next {
        padding-left: .75em;
        padding-right: .75em;
        margin-left: .75em;
        min-width: 5em;
    }

    &:hover {
        &.is-active {
            color: $paginationLinkActiveColor;
        }

        &:not(.is-active) {
            @include paginationLink-variant($paginationLinkHoverBg, $paginationLinkHoverColor, $paginationLinkHoverBorder);
        }
    }

    &.is-disabled {
        @include paginationLink-variant($paginationLinkDisabledBg, $paginationLinkDisabledColor, $paginationLinDisabledBorder);
    }

    &.is-active {
        @include paginationLink-variant($paginationLinkActiveBg, $paginationLinkActiveColor, $paginationLinkActiveBorder);
    }
}
