//
// Panel
// --------------------------------------------------

// Variables
// ========================================================================
$panelBorderColor: #ddd;
$panelBg: #f4f4f4;

// Placeholders
// ========================================================================


// Component
// ========================================================================
.panel {
    border: 1px solid $panelBorderColor;
    margin-top: 1.5em;

    &__header {
        background-color: $panelBg;
        border-bottom: 1px solid $panelBorderColor;
        padding: 8px 10px;
    }

    .caret {
        height: 18px;
        pointer-events: none;
        transition: transform .3s ease-out, color .3s ease-in;
        width: 18px;
    }

    &__content {
        padding: 10px 15px;
    }

    // Nested
    .panel {
        &:first-child {
            margin-top: .5em;
        }
    }

    // Collapse
    &--collapse {
        .panel__header {
            @extend %flex;
            align-items: center;
            justify-content: space-between;
        }

        .panel__content {
            overflow: hidden;
            //transition: max-height .3s linear, padding .01s linear .29s;
        }

        &:not(.is-open) {
            .panel__header {
                border-bottom-width: 0;
                transition: border-bottom-width .01s linear .29s;
            }
        }
    }
}

.panel.is-open { // sass-lint:disable-line force-element-nesting
    > .panel__header {
        .caret {
            @extend %icon-caret;
            color: $primary;
        }
    }
}
