//
// Progress
// --------------------------------------------------

// Variables
// ========================================================================
$progressRounded: 4px;

$progressBg: #ddd;
$progressBgBar: #aaa;

// Placeholders
// ========================================================================


// Component
// ========================================================================
.progress {
    @extend %bold;
    appearance: none;
    border: 0;
    display: block;
    height: 1.4em;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;

    &::-webkit-progress-bar {
        background-color: $progressBg;
    }

    &::-webkit-progress-value {
        background-color: $progressBg;
    }

    &::-moz-progress-bar {
        background-color: $progressBg;
    }

    &::-webkit-progress-value {
        background-color: $progressBgBar;
    }

    &::-moz-progress-bar {
        background-color: $progressBgBar;
    }

    &--rounded {
        border-radius: $progressRounded;
    }

    &::after {
        content: attr(data-text);
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
