//
// Ribbon
// --------------------------------------------------

// Variables
// ========================================================================
$ribbonBackgroundColor: $primary !default;
$ribbonColor: $white !default;

// Types

$ribbonNoticeBg: $blue !default;
$ribbonNoticeColor: #fff !default;


// Placeholders
// ========================================================================


// Component
// ========================================================================
.ribbon {
    background-color: $ribbonBackgroundColor;
    // border: $ribbon-border;
    // border-right: 0;
    color: $ribbonColor;
    // font-size: $sizeNormal;
    // font-weight: 400;
    justify-content: center;
    padding: .4em 1em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 1em;
    white-space: nowrap;
    z-index: 2;

    &--notice {
        @include ribbon-variant($ribbonNoticeBg, $ribbonNoticeColor);
    }
}
