//
// Search
// --------------------------------------------------

// Variables
// ========================================================================
$searchColor: $greyDark;
$searchHoverColor: $primary;

// Placeholders
// ========================================================================

// Component
// ========================================================================
.search {
    position: relative;

    &__clear {
        @extend %is-selectable;
        color: $searchColor;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        height: 100%;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 12px;
        top: 0;
        transition: opacity .3s ease-out;

        &:hover {
            color: $searchHoverColor;
        }

        &.is-show {
            opacity: 1;
            pointer-events: all;
            transition-timing-function: ease-in;
        }
    }
}
