//
// Spinner
// --------------------------------------------------

// Variables
// ========================================================================
$spinnerBgColor: $primary;

// Placeholders
// ========================================================================


// Component
// ========================================================================
.spinner {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;

    &__bounce {
        animation: spinnerAnimation 2s infinite ease-in-out;
        background-color: $spinnerBgColor;
        border-radius: 50%;
        height: 100%;
        left: 0;
        opacity: .6;
        position: absolute;
        top: 0;
        width: 100%;

        &--2 {
            animation-delay: -1s;
        }
    }
}

@keyframes spinnerAnimation {
    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}
