//
// Tabs
// --------------------------------------------------

// Variables
// ========================================================================
$tabListBg: $white !default;
$tabListRadius: 3px !default;
$tabListBoxShadow: 0 0 5px rgba(185, 185, 185, .4) !default;
$tabListPadding: .5rem !default;

$tabBorderColor: $grey;

$tabTabBorderColor: $primary;
$tabTabColor: $textColor;

$tabTabActiveHeight: 4px;

// Component
// ========================================================================

// Header
//
.tabs {
    &__list {
        @extend %flex;
        background-color: $tabListBg;
        border-radius: $tabListRadius;
        padding: $tabListPadding;

        &--shadow {
            box-shadow: $tabListBoxShadow;
        }
    }

    &__tab {
        @extend %is-selectable;
        color: $tabTabColor;
        display: inline-flex;
        flex: 1;
        justify-content: center;
        outline: none;
        padding: .5rem;
        position: relative;
        text-decoration: none;
        transition: color .2s ease-in;

        /*&::after {
            background-color: $tabTabBorderColor;
            bottom: 0;
            content: "";
            height: 0;
            position: absolute;
            transition: height .2s ease-in;
            width: 100%;
        }*/

        & + & {
            border-left: 2px solid $grey;
        }

        &--is-active,
        &:hover {
            @extend %bold;
            color: $primary;

            /*&::after {
                height: $tabTabActiveHeight;
            }*/
        }
    }

    &__icon {
        @extend %icon15;
        margin-left: 3px;
        vertical-align: middle;
    }

    &__num {
        margin-left: 10px;
    }
}


// Content
//
.tabs__panel {
    display: none;
    height: calc(100% - 68px - 1rem);
    overflow-y: scroll;
    position: relative;
    width: 100%;

    &--is-open {
        display: block;
    }
}
