//
// Table
// --------------------------------------------------

// Variables
// ========================================================================

// HEAD
$tableHeadRowBorder: $grey;
$tableHeadColor: #7a7a7a;

// BODY
$tableRowBorder: $grey;
$tableRowBg: #fafafa;
$tableRowHover: #f5f5f5;

$tableSizes: 5 10 15 18 20 25 30 35 40 45 70 80 85 90;


// Placeholders
// ========================================================================
@each $size in $tableSizes {
    %tcol#{$size} {
        @include table-width($size + unquote("%"));
    }
}

// Component
// ========================================================================

.table {
    &__head {
        align-items: center;
        border-bottom: 2px solid $tableHeadRowBorder;
        display: flex;

        .table__col {
            @extend %bold;
            @extend %txt-medium;
            color: $tableHeadColor;
        }
    }

    &__row {
        align-items: center;
        border-bottom: 1px solid $tableRowBorder;
        display: flex;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    &__col {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 5px;
    }

    &__opt {
        display: inline-flex;

        & + & {
            margin-left: 8px;
        }
    }

    &__body {
        .table__row {
            flex-flow: row wrap;

            &:nth-child(even) {
                background-color: $tableRowBg;
            }

            &:hover:not(.not-hover) { // sass-lint:disable-line force-pseudo-nesting
                background-color: $tableRowHover;
                transition: background-color .2s ease;
            }
        }
    }

    .input {
        height: 2.643em;

        &__field {
            height: 100%;
        }
    }
}

.table__col {
    &--10 {
        @include table-width(10%);
    }

    &--20 {
        @include table-width(20%);
    }

    &--45 {
        @include table-width(45%);
    }

    &--select,
    &--dropdown {
        @include table-width(30px);
        align-items: center;
        display: inline-flex;
        justify-content: center
    }

    &--options {
        align-items: center;
        display: inline-flex;
        justify-content: flex-end;
        text-align: right;
    }
}

.table__col--options {
    .dropdown {
        padding: 0 10px;
    }
}
