//
// Tiles
// --------------------------------------------------

// Variables
// ========================================================================

$tileBorderRadius: 3px;
$tileBg: $white;
$tileBoxShadow: 0 0 12px rgba(200, 200, 200, .2);

// Placeholders
// ========================================================================

// Component
// ========================================================================
.tile {
    align-items: stretch;
    background-color: $tileBg;
    border-radius: $tileBorderRadius;
    box-shadow: $tileBoxShadow;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 100%;
    padding: 1.25rem 1.5rem;

    &__header {
        justify-content: space-between;
        margin-bottom: 8px;
    }
}

@include media-breakpoint-down("sm") {
    .tile {
        &:not(.tile--first) {
            margin-top: 1em;
        }
    }
}
