//
// Toggle
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================
$toggleIconSize: 25px;

// Component
// ========================================================================
.toggle {
    height: $toggleIconSize;

    .icon {
        height: $toggleIconSize;
        width: $toggleIconSize;
    }
}
