//
// Tree
// --------------------------------------------------

// Variables
// ========================================================================
$treeHoverBg: #f5f5f5;

$treeActiveBg: $primary;
$treeActiveColor: #fff;

// Placeholders
// ========================================================================
%treeactive {
    background-color: $treeActiveBg;
    color: $treeActiveColor;
    position: relative;

    &::after { // sass-lint:disable-line nesting-depth
        border-bottom: 10px solid transparent;
        border-right: 10px solid #fff;
        border-top: 10px solid transparent;
        content: " ";
        height: 0;
        margin-top: -10px;
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
    }
}

// Component
// ========================================================================
.tree {
    border-bottom: 2px solid $grey;
    border-top: 2px solid $grey;

    &__item {
        & + & {
            border-top: 1px solid $grey;
        }
    }

    &__header {
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;

        &:hover {
            background-color: $treeHoverBg;
        }
    }

    &__link {
        display: block;
        padding: 15px 0;
    }

    &__caret {
        display: inline-flex;
        transition: transform .2s ease;
    }

    &__children {
        height: 100%;
        max-height: 0;
        overflow-y: hidden;
        padding: 0;
        transition: max-height .3s cubic-bezier(0, 1, .5, 1), padding .2s linear;

        .tree__link {
            display: block;
            padding: 8px 10px;
            transition: background-color .1s linear;

            &.is-active {
                @extend %treeactive;
            }

            &:hover:not(.is-active) { // sass-lint:disable-line force-pseudo-nesting
                background-color: $treeHoverBg;
            }
        }
    }
}

.tree__item {
    &.is-open {
        .tree__header {
            background-color: $treeHoverBg;
            border-bottom: 1px solid $grey;
        }

        .tree__caret {
            transform: rotate(-45deg);
        }

        .tree__children {
            max-height: 800px;
            padding: 8px 0;
            transition: max-height .5s cubic-bezier(0, 1, .5, 1), padding .2s linear;
        }
    }

    &.is-active {
        .tree__header {
            @extend %treeactive;
        }
    }
}

.models-tree {
    margin: 10px 0;

    &__inner {
        border: 1px solid $grey;
        height: 325px;
        margin-top: 5px;
        overflow-y: scroll;
        padding: 10px;
    }
}

.tree-view {
    &__item {
        @extend %flex;
        align-items: center;
    }

    &__node {
        flex-grow: 1;
        padding: 0 5px;

        &:hover {
            background-color: $grey;
        }
    }

    &_arrow { // sass-lint:disable-line class-name-format
        border-bottom: 6px solid transparent;
        border-left: 10px solid $grey;
        border-top: 6px solid transparent;
        height: 0;
        margin-right: 5px;
        //transition: transform .2s ease;
        width: 0;

        /*&-collapsed { // sass-lint:disable-line class-name-format
            transform: rotate(-90deg);
        }*/
    }

    &__children {
        margin-left: 20px;
    }

    &__leaf {
        padding: 0 10px;

        &:hover {
            background-color: $grey;
        }
    }

    &__checkbox {
        margin-right: 8px;
    }

    & + & {
        margin-top: 10px;
    }
}
