//
// Uploader
// --------------------------------------------------

// Variables
// ========================================================================
$uploaderBorder: $grey;

$uploaderContainerBoxShadow: 0 0 15px rgba(10, 10, 10, .2) inset;

$uploaderLoadingColor: $primary;
$uploaderLoadingSize: 1.5rem;
$uploaderLoadingWidth: 2px;

$uploaderImgTextShadow: rgba(10, 10, 10, .8);
$uploaderImgTextColor: $white;
$uploaderImgTextBg: rgba(10, 10, 10, .7);
$uploaderImgTextFontSize: 20px;

// Placeholders
// ========================================================================

// Component
// ========================================================================
.uploader {
    border: 1px dashed $uploaderBorder;
    overflow: hidden;
    position: relative;
    width: 100%;

    &__container {
        transition: box-shadow .1s linear;

        &--dashed {
            border: 2px dashed $grey;
        }

        &--solid {
            border: 2px solid $grey;
        }
    }

    &__text {
        align-self: center;
        padding: 1rem;
        width: 100%;

        &-click {
            display: block;
        }
    }

    &__loader {
        @extend %is-loading;
        position: absolute;
        right: 1.5rem;
        top: 1rem;

        &::after {
            border-bottom-color: $uploaderLoadingColor;
            border-left-color: $uploaderLoadingColor;
            border-width: $uploaderLoadingWidth;
            height: $uploaderLoadingSize;
            width: $uploaderLoadingSize;
        }
    }

    // States
    &:hover {
        .uploader__container {
            box-shadow: $uploaderContainerBoxShadow;
        }
    }

    &.has-file {
        border-style: solid;

        .uploader__text {
            display: none;
        }
    }
}

.uploader-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &__image {
        display: block;
        max-height: 100%;
        pointer-events: none;
    }

    &__text {
        @extend %flex;
        align-items: center;
        color: $uploaderImgTextColor;
        font-size: 0;
        height: 100%;
        justify-content: center;
        left: 0;
        opacity: 0;
        position: absolute;
        text-shadow: 0 0 5px $uploaderImgTextShadow;
        top: 0;
        transition: font-size .2s linear, background-color .3s cubic-bezier(0, .49, 1, 1), opacity 0s .35s;
        width: 100%;
    }

    &:hover {
        .uploader-img__text {
            background-color: $uploaderImgTextBg;
            font-size: $uploaderImgTextFontSize;
            opacity: 1;
            transition: opacity 0s linear, background-color .3s cubic-bezier(0, .49, 1, 1), font-size .2s linear .25s;
        }
    }
}

.uploader__file {
    padding: 1rem;
}


@include media-breakpoint-up("md") {
    .input--uploader {
        height: 100%;
    }

    .uploader {
        height: calc(100% - 25px);
    }
}
