//
// Alert Mixin
// --------------------------------------------------
@mixin alert-variant($background, $color: false) {
    background-color: $background;

    @if $color {
        color: $color;
    }
}
