@function getBreakpoint($name, $minMax: "min", $breakpoints: $breakpoints, $breakpointNames: map-keys($breakpoints)) {
    @if $minMax == "min" {
        // Min
        $min: map-get($breakpoints, $name);
        @return if($min != 0, $min, null);
    } @else {
        // Max
        $n: index($breakpointNames, $name);
        @return if($n < length($breakpointNames),
            getBreakpoint(nth($breakpointNames, $n + 1), "min", $breakpoints, $breakpointNames) - .01,
            null
        );
    }
}

@mixin media-min($name, $type: "screen") {
    $min: getBreakpoint($name, "min");
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-max($name) {
    $max: getBreakpoint($name, "max");
    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-breakpoint-between($lower, $upper, $type: "screen") {
    @include media-min($lower) {
        @include media-max($upper) {
            @content;
        }
    }
}

@mixin media-breakpoint-up($bp) {
    @include media-min($bp) {
        @content;
    }
}

@mixin media-breakpoint-down($bp) {
    @include media-max($bp) {
        @content;
    }
}
