//
// Button Mixin
// --------------------------------------------------
@mixin button-variant($background: "transparent", $color: $darkLight, $border: "transparent", $backgroundHover: "transparent", $colorHover: $darkLight) {
    background-color: $background;
    border-color: $border;
    color: $color;

    &:hover {
        &:not(.is-disabled) {
            background-color: $backgroundHover;
            color: $colorHover;
        }
    }

    &:focus,
    &:active {
        background-color: $backgroundHover;
        color: $colorHover;
    }
}
