//
// Is Mixins - Use placeholders to extend inside files.
// -----------------------------------------------------

// Variables
//
$isLoadingBorder: #dbdbdb;

// Others
//
@keyframes spinAround {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

// Components
//
%is-selectable {
    cursor: pointer;
}

%is-unselectable {
    user-select: none;
}

%is-loading {
    color: transparent !important; // sass-lint:disable-line no-important
    pointer-events: none;
    position: relative;

    &::after {
        animation: spinAround 500ms infinite linear;
        border: 2px solid $isLoadingBorder;
        border-radius: 50%;
        border-right-color: transparent !important; // sass-lint:disable-line no-important
        border-top-color: transparent !important; // sass-lint:disable-line no-important
        content: "";
        display: block;
        height: 1rem;
        left: 50%;
        margin-left: -8px;
        margin-top: -8px;
        position: absolute;
        top: 50%;
        width: 1rem;
    }
}
