//
// Ribbon Mixin
// --------------------------------------------------
@mixin ribbon-variant($background, $color: false) {
    background-color: $background;

    @if $color {
        color: $color;
    }
}
