//
// Icons
// --------------------------------------------------

// Variables
// ========================================================================
$iconDefaultSize: 32;
$iconSizes: 12 14 15 16 18 20 22 24 30 35;

// Types
$iconColors: (
    error: $primary,
    success: $green,
    warning: $yellow,
    dark: $greyDark
);

// Placeholders
// ========================================================================
%icon-caret {
    transform: rotate(-90deg);
}

// Component
// ========================================================================
.icon {
    display: inline-block;
    line-height: 1;

    &__svg {
        color: inherit;
        fill: currentColor;
        height: inherit;
        width: inherit;
    }

    &--caret {
        @extend %icon-caret;
    }

    &--up {
        transform: rotate(90deg);
    }

    &--down {
        transform: rotate(-90deg);
    }

    &--right {
        transform: rotate(-180deg);
    }
}

@each $size in $iconSizes {
    %icon#{$size} {
        height: #{$size}px;
        width: #{$size}px;
    }

    .icon.icon--#{$size} {
        @extend %icon#{$size};
    }
}

@each $name, $color in $iconColors {
    .icon--#{$name} {
        color: $color;
    }
}
