//
// React Animations
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================

// Component
// ========================================================================
.slide {
    &-appear {
        opacity: 0;
        transition: opacity .7s ease-in;

        &.slide-appear-active {
            opacity: 1;
        }
    }

    &-enter {
        transform: translateY(-100%);
        transition: transform .3s cubic-bezier(.49, .25, .9, .63);

        &.slide-enter-active {
            transform: translateY(0);
        }
    }

    &-leave {
        transform: translateY(0);
        transition: transform .3s cubic-bezier(.49, .25, .9, .63);

        &.slide-leave-active {
            transform: translateY(-100%);
        }
    }
}

.fade {
    &-enter {
        opacity: .01;
        transition: opacity .4s ease-in .1s;
        visibility: hidden;

        &.fade-enter-active {
            opacity: 1;
            visibility: visible;
        }
    }

    &-leave {
        opacity: 1;

        &.fade-leave-active {
            opacity: .01;
            transition: opacity .4s ease-out;
        }
    }
}

.fade-fast {
    &-enter {
        opacity: .01;
        transition: opacity .2s ease-in;

        &.fade-fast-enter-active {
            opacity: 1;
        }
    }

    &-leave {
        opacity: 1;

        &.fade-fast-leave-active {
            opacity: .01;
            transition: opacity .2s ease-in;
        }
    }
}

.fade-scale {
    &-enter {
        opacity: .01;
        transform: scale(0);
        transition: transform .5s ease-in, opacity .3s ease-in;

        &.fade-scale-enter-active {
            opacity: 1;
            transform: scale(1);
        }
    }

    &-leave {
        opacity: 1;

        &.fade-scale-leave-active {
            opacity: .01;
            transition: opacity .3s ease-in;
        }
    }
}

.moving {
    &-enter {
        transform: translateX(100%);
        transition: transform .4s ease-out;

        &.moving-enter-active {
            transform: translateX(0);
            transition: transform .4s ease-in .1s;
        }
    }

    &-leave {
        transform: translateX(100%);

        &.moving-leave-active {
            transform: translateX(-100%);
            transition: transform .4s ease-in;
        }
    }
}


.badge {
    /*&-appear {
        opacity: 0;
        transform: scale(0);

        &.badge-appear-active {
            animation: badgeAnim .3s linear;
            opacity: 1;
            transform: scale(1);
        }
    }*/

    &-enter {
        opacity: 0;
        transform: scale(0);

        &.badge-enter-active {
            animation: badgeAnim .3s linear;
            opacity: 1;
            transform: scale(1);
        }
    }

    &-leave {
        &.badge-leave-active {
            opacity: 0;
            transform: scale(0);
        }
    }
}

.slide-fade {
    &-enter {
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: height .4s linear, opacity .3s ease;

        &.slide-fade-enter-active {
            height: 55px;
            opacity: 1;
        }
    }

    &-leave {
        height: 55px;
        overflow: hidden;
        transition: height .4s linear, opacity .3s ease;

        &.slide-fade-leave-active {
            height: 0;
            opacity: 0;
        }
    }
}
