//
// Reboot
// --------------------------------------------------

// Variables
// ========================================================================


// Placeholders
// ========================================================================

// Component
// ========================================================================
html {
    -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    text-rendering: optimizeLegibility;
}

html,
body {
    height: 100%;
}

body {
    @extend %normal;
    background-color: $background;
    color: $textColor;
    font-family: $fontFamily;
    font-size: 14px;
    line-height: 1.42857143;
}

hr {
    border: 0;
    border-top: 1px solid $darkLight;
    display: block;
    height: 1px;
    padding: 0;

    &.hr--grey {
        border-top-color: $grey;
    }

    &.hr--primary {
        border-top-color: $primary;
    }
}


// Links
a {
    color: inherit;
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
    text-decoration: none;
}


// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %bold;
}

strong {
    @extend %bold;
}


// Table
table {
    width: 100%;
}

img {
    max-width: 100%;
}


// Form
form {
    width: 100%;
}

input {
    &,
    &:focus {
        outline: 0;
    }
}

select {
    &:-moz-focusring { // sass-lint:disable-line no-vendor-prefixes
        color: transparent;
        text-shadow: 0 0 0 #000; // sass-lint:disable-line no-color-literals
    }
}
