//
// Typography
// --------------------------------------------------

// Variables
// ========================================================================
$linkColor: $primary;
$linkHoverColor: darken($primary, 10%);

$headingSizes: (
    h1: 2em,
    h2: 1.75em,
    h3: 1.5em,
    h4: 1.25em,
    h5: 1.125em,
    h6: 1em
);

// Placeholders
// ========================================================================

// Component
// ========================================================================
@each $name, $size in $headingSizes {
    #{$name} {
        font-size: $size;
    }
}

.link {
    color: $linkColor;

    &:hover {
        color: $linkHoverColor;
    }
}
