//
// Login
// --------------------------------------------------

// Variables
// ========================================================================
// $loginBodyBg: $brandPrimary;
$loginBodyBg: #af4b51;
$loginMainBg: $white;
$loginBoxShadow: rgba(105, 105, 105, .65);
$loginLinkColor: #969696;

// Placeholders
// ========================================================================

// Component
// ========================================================================
body {
    background-color: $loginBodyBg;
}

.global__main {
    align-self: center;
    background-color: $loginMainBg;
    box-shadow: 0 0 3px $loginBoxShadow;
    max-height: calc(100% - 60px);
    overflow-y: scroll;
    padding: 18px 40px;
    width: 370px;

    &--large {
        width: 700px;
    }
}

.global__header {
    position: fixed;
    top: 0;
    width: 100%;
}

.login {
    &__header {
        margin-bottom: 18px;
    }

    &__footer {
        margin-top: 20px;
    }

    &__forgetpass {
        color: $loginLinkColor;
        display: block;
        font-size: 14px;
        margin-top: 10px;
    }

    .input--checkbox {
        margin-top: 8px;
    }

    .input__label {
        &::after {
            display: none;
        }
    }
}

.icon {
    height: 20px;
    width: 20px;
}

.logo-container {
    height: 200px;
}

.subdealers-form {
    .input {
        margin-bottom: 1em;
    }
}

/*.alert--error {
    background-color: $yellow;
}*/
