/*! Styles */
@import url(~normalize.css/normalize.css);
@import url(~minireset.css/minireset.css);
@import url(~inukgrid/dist/inukgrid.css);
@import url(~react-select/dist/react-select.css);
@import url(~sweetalert2/dist/sweetalert2.css);
body, .input__field, .txt-normal {
  font-weight: 300; }

h1,
h2,
h3,
h4,
h5,
h6, .breadcrumb__separator, .card__info, .table__head .table__col, .txt-bold, .iconpart__item.is-active .iconpart__text, .cardline__number {
  font-weight: 500; }

.txt-black, .content__title {
  font-weight: 700; }

.panel--collapse .panel__header, .u-flex, .tabs__list {
  display: flex; }

.btn, .search__clear, .is-selectable, .nav-opt__link, .cart-list__btn {
  cursor: pointer; }

.btn {
  user-select: none; }

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html,
body {
  height: 100%; }

body {
  background-color: #f5f5f5;
  color: #333;
  font-family: "Roboto", Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857143; }

a {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  outline: 0 none;
  text-decoration: none; }

table {
  width: 100%; }

img {
  max-width: 100%; }

input, input:focus {
  outline: 0; }

.icon--caret, .panel.is-open > .panel__header .caret {
  transform: rotate(-90deg); }

.icon__svg {
  color: inherit;
  display: inline-block;
  fill: currentColor;
  height: 100%;
  width: auto; }

.icon--12 {
  height: 12px;
  width: 12px; }

.icon--14 {
  height: 14px;
  width: 14px; }

.icon--15, .tabs__icon {
  height: 15px;
  width: 15px; }

.icon--16, .nav__icon {
  height: 16px;
  width: 16px; }

.icon--18 {
  height: 18px;
  width: 18px; }

.icon--20, .input--numeric .icon, .nav-opt__icon {
  height: 20px;
  width: 20px; }

.icon--22 {
  height: 22px;
  width: 22px; }

.icon--24 {
  height: 24px;
  width: 24px; }

.icon--error {
  color: #d44c54; }

.icon--success {
  color: #30b19b; }

.icon--warning {
  color: #ffdd57; }

.icon--dark {
  color: #8a8a8a; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1.125em; }

h6 {
  font-size: 1em; }

.link {
  color: #d44c54; }
  .link:hover {
    color: #bf2e36; }

.slide-appear {
  opacity: 0;
  transition: opacity .7s ease-in; }
  .slide-appear.slide-appear-active {
    opacity: 1; }

.slide-enter {
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(0.49, 0.25, 0.9, 0.63); }
  .slide-enter.slide-enter-active {
    transform: translateY(0); }

.slide-leave {
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0.49, 0.25, 0.9, 0.63); }
  .slide-leave.slide-leave-active {
    transform: translateY(-100%); }

.fade-enter {
  opacity: .01;
  transition: opacity .4s ease-in; }
  .fade-enter.fade-enter-active {
    opacity: 1; }

.fade-leave {
  opacity: 1; }
  .fade-leave.fade-leave-active {
    opacity: .01;
    transition: opacity .4s ease-in; }

.fade-fast-enter {
  opacity: .01;
  transition: opacity .2s ease-in; }
  .fade-fast-enter.fade-fast-enter-active {
    opacity: 1; }

.fade-fast-leave {
  opacity: 1; }
  .fade-fast-leave.fade-fast-leave-active {
    opacity: .01;
    transition: opacity .2s ease-in; }

.fade-scale-enter {
  opacity: .01;
  transform: scale(0);
  transition: transform .5s ease-in, opacity .3s ease-in; }
  .fade-scale-enter.fade-scale-enter-active {
    opacity: 1;
    transform: scale(1); }

.fade-scale-leave {
  opacity: 1; }
  .fade-scale-leave.fade-scale-leave-active {
    opacity: .01;
    transition: opacity .3s ease-in; }

.moving-enter {
  transform: translateX(100%);
  transition: transform .4s ease-out; }
  .moving-enter.moving-enter-active {
    transform: translateX(0);
    transition: transform .4s ease-in .1s; }

.moving-leave {
  transform: translateX(100%); }
  .moving-leave.moving-leave-active {
    transform: translateX(-100%);
    transition: transform .4s ease-in; }

.badge {
  /*&-appear {
        opacity: 0;
        transform: scale(0);

        &.badge-appear-active {
            animation: badgeAnim .3s linear;
            opacity: 1;
            transform: scale(1);
        }
    }*/ }
  .badge-enter {
    opacity: 0;
    transform: scale(0); }
    .badge-enter.badge-enter-active {
      animation: badgeAnim .3s linear;
      opacity: 1;
      transform: scale(1); }
  .badge-leave.badge-leave-active {
    opacity: 0;
    transform: scale(0); }

.slide-fade-enter {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height .4s linear, opacity .3s ease; }
  .slide-fade-enter.slide-fade-enter-active {
    height: 55px;
    opacity: 1; }

.slide-fade-leave {
  height: 55px;
  overflow: hidden;
  transition: height .4s linear, opacity .3s ease; }
  .slide-fade-leave.slide-fade-leave-active {
    height: 0;
    opacity: 0; }

.close {
  display: block;
  height: 35px;
  position: relative;
  width: 35px; }
  .close::before, .close::after {
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center; }
  .close::after {
    height: 50%;
    width: 2px; }
  .close::before {
    height: 2px;
    width: 50%; }

.nav__item.is-active > .nav__link {
  background-color: #d44c54; }

.nav__item {
  border-bottom: 1px solid #444;
  overflow: hidden;
  position: relative; }

.nav__link {
  align-items: center;
  background-color: #333;
  color: #eee;
  display: flex;
  height: 52px;
  padding: 1em 1.2em;
  transition: background-color 0.2s cubic-bezier(0, 0, 1, 0.42); }
  .nav__link:hover {
    background-color: #222;
    color: #fff; }

.nav__icon {
  overflow: visible !important; }
  .nav__icon--logo {
    margin-right: 10px;
    transition: margin .3s ease; }
  .nav__icon--caret {
    height: 12px;
    margin-left: auto;
    transform: rotate(0);
    transition: transform .2s ease;
    width: 12px; }

.nav__children {
  height: 100%;
  max-height: 0;
  overflow-y: hidden;
  padding: 0;
  transition: max-height 0.3s cubic-bezier(0, 1, 0.5, 1), padding 0.2s linear; }
  .nav__children .nav__link {
    border-bottom: 0;
    height: auto;
    padding: .5em 1em; }
    .nav__children .nav__link:hover {
      background: #555; }

.nav__item.is-active:not(.nav__item--has-children) .nav__link::after {
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f5f5f5;
  border-top: 10px solid transparent;
  content: " ";
  height: 0;
  margin-top: -10px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 0; }

.nav__item.is-open > .nav__link {
  background-color: #222; }

.nav__item.is-open .nav__icon--caret {
  transform: rotate(-90deg); }

.nav__item.is-open .nav__children {
  max-height: 300px;
  overflow-y: scroll;
  padding: 8px 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0.5, 1), padding 0.2s linear; }

.small-sidebar .nav__link {
  width: 240px; }

.small-sidebar .nav__icon--logo {
  margin-left: 5px;
  margin-right: 50px; }

.small-sidebar .nav__icon--caret {
  display: none; }

.small-sidebar .nav__children {
  background-color: #333;
  left: 70px;
  max-height: 500px;
  position: absolute;
  width: 170px; }
  .small-sidebar .nav__children .nav__link {
    width: 100%; }

.small-sidebar .nav__item:hover {
  overflow: visible; }

.breadcrumb__separator {
  color: #222;
  margin-left: 5px;
  margin-right: 5px; }

.breadcrumb__link {
  color: #545454; }

.card {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: .25em;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
  overflow: hidden;
  position: relative; }
  .card__link {
    display: block; }
  .card__image {
    display: block; }
  .card__caption {
    min-height: 220px;
    padding: 1.5em 1em .75em; }
  .card__info {
    padding: .75em 1em 1.5em; }
  .card__title {
    color: #333;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; }
  .card__subtitle {
    color: #a0a0a0;
    display: block;
    font-size: 12px; }
  .card__footer {
    border-top: 1px solid #e2e2e2;
    min-height: 73px;
    padding: .5em; }

.card--category .card__title {
  font-size: 20px; }

@keyframes round {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.loading--abs {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.loading--60 {
  height: 60px;
  width: 60px; }

.sloading {
  border: 4px solid rgba(128, 128, 128, 0.2);
  border-radius: 50%;
  box-sizing: content-box;
  height: 100%;
  position: relative;
  width: 100%; }
  .sloading::after {
    border: 4px solid #808080;
    border-radius: 50%;
    box-sizing: content-box;
    content: "";
    height: 100%;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 100%; }
  .sloading__figure {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%; }
  .sloading .sfigure__line {
    display: block;
    height: 6px; }
  .sloading.is-animate::after {
    animation: round 1.3s linear infinite;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent; }
  .sloading.is-reverse::after {
    animation-direction: reverse; }
  .sloading.is-finish {
    transition: border-color .6s ease-in; }
    .sloading.is-finish.is-success {
      border-color: #a5dc86; }
    .sloading.is-finish.is-error {
      border-color: #f27474; }
    .sloading.is-finish::after {
      opacity: 0; }
  .sloading.is-success {
    border-color: rgba(165, 220, 134, 0.2); }
    .sloading.is-success::after {
      border-color: #a5dc86; }
  .sloading.is-error {
    border-color: rgba(242, 116, 116, 0.2); }
    .sloading.is-error::after {
      border-color: #f27474; }

.sfigure--tick {
  padding: 15%; }
  .sfigure--tick .sfigure__line {
    overflow: hidden;
    position: relative; }
    .sfigure--tick .sfigure__line::after {
      background-color: #a5dc86;
      bottom: 0;
      content: "";
      left: -100%;
      position: absolute;
      top: 0;
      width: 100%; }
    .sfigure--tick .sfigure__line--left {
      border-radius: 2px 0 0 2px;
      transform: rotate(43deg) translateX(70%);
      width: 40%; }
    .sfigure--tick .sfigure__line--right {
      border-radius: 0 2px 2px;
      transform: rotate(-45deg);
      width: 100%; }

.is-finish.is-success .sfigure--tick .sfigure__line::after {
  left: 0;
  transition: left .2s linear .1s; }

.is-finish.is-success .sfigure--tick .sfigure__line--left::after {
  transition-delay: .1s; }

.is-finish.is-success .sfigure--tick .sfigure__line--right::after {
  transition-delay: .3s; }

.is-finish.is-success .sfigure--error {
  display: none; }

.sfigure--error .sfigure__line {
  background-color: #f27474;
  border-radius: 2px;
  position: absolute;
  width: 0; }
  .sfigure--error .sfigure__line--left {
    transform: rotate(45deg); }
  .sfigure--error .sfigure__line--right {
    transform: rotate(-45deg); }

.is-finish.is-error .sfigure--error .sfigure__line {
  transition: width .3s ease;
  width: 60%; }

.is-finish.is-error .sfigure--tick {
  display: none; }

.spinner {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%; }
  .spinner__bounce {
    animation: spinnerAnimation 2s infinite ease-in-out;
    background-color: #d44c54;
    border-radius: 50%;
    height: 100%;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%; }
    .spinner__bounce--2 {
      animation-delay: -1s; }

@keyframes spinnerAnimation {
  0%,
  100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }

.input + .input {
  margin-top: 1em; }

.input__field {
  border: 1px solid #e2e2e2;
  color: #333;
  flex: 1;
  font-size: 13px;
  height: 2.85em;
  min-width: 20px;
  outline: 0;
  padding: 5px 10px;
  width: 100%; }
  .input__field:invalid {
    box-shadow: none; }
  .input__field[readonly] {
    pointer-events: none; }

.input__icon {
  fill: #333; }

.input__group {
  display: flex;
  height: 100%; }
  .input__group .input__field:not(:last-child) {
    border-right: 0 none; }
  .input__group .input__field:not(:first-child) {
    border-left: 0 none; }
  .input__group .input__addon {
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #e2e2e2;
    display: inline-flex;
    flex: 1;
    justify-content: center;
    max-width: 40px;
    min-width: 30px;
    vertical-align: middle; }
    .input__group .input__addon .icon {
      height: 65%;
      width: 65%; }
    .input__group .input__addon:first-child {
      border-right: 0 none; }
    .input__group .input__addon:last-child {
      border-left: 0 none; }

.input--horizontal {
  display: flex; }
  .input--horizontal .input__label {
    flex: 1 0 auto;
    margin-right: 1.5em;
    padding-top: .5em; }
    .input--horizontal .input__label.is-middle {
      align-self: center;
      padding-top: 0; }
  .input--horizontal .input__group {
    flex: 5 1 auto; }

.input--numeric .input__field {
  text-align: center; }

.input--checkbox {
  font-size: 14px;
  height: auto; }
  .input--checkbox .input__field {
    background-color: transparent;
    border: 0 none;
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    margin-top: -1px;
    vertical-align: middle;
    width: 18px; }

/*.input {
    height: 75px;
    position: relative;

    &__header {
        display: table;
        line-height: 1.428;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }

    &__label {
        color: $formLabelTextColor;
        display: table-cell;
        font-size: $formLabelFontSize;
        text-transform: uppercase;
        width: 90%;
    }

    &__clear {
        cursor: pointer;
        display: table-cell;
        font-size: 12px;
        opacity: 1;
        text-align: right;
        transition: opacity .3s ease;
        vertical-align: middle;
        width: 10%;

        &[aria-hidden="true"] {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__field {
        @extend %normal;
        background-color: $formBgColor;
        border: 1px solid $formBorderColor;
        color: $formTextColor;
        height: $formHeight;
        outline: 0;
        padding: 5px 10px;
        width: 100%;

        &:invalid {
            box-shadow: none;
        }

        &[readonly] {
            pointer-events: none;
        }
    }

    &__errors {
        color: $primary;
        font-size: 12px;
        padding: 0 5px;
    }

    // Placeholder
    &::placeholder {
        color: red;
        // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 1;
    }

    &--has-error {
        margin-bottom: 15px;
    }
}


//
// Custom Input Types
.input {
    &--textarea {
        .input__field {
            min-height: 150px;
            padding: 10px;
            resize: none;
            width: 100%;
        }
    }

    &--password {
        .input__showpass {
            // background-color: fade-out($formAddonBg, .4);
            transition: background-color .2s ease-in;

            .icon {
                opacity: .6;
                pointer-events: none;
                transition: opacity .2s ease-in;
            }

            &.is-active {
                background-color: $formAddonBg;

                .icon {
                    opacity: 1;
                }
            }
        }
    }

    &--checkbox {
        font-size: 14px;
        height: auto;

        .input__field {
            background-color: transparent;
            border: 0 none;
            display: inline-block;
            height: 18px;
            margin-right: 5px;
            margin-top: -1px;
            vertical-align: middle;
            width: 18px;
        }
    }
}


//
//
.input--boxed {
    .input {
        float: left;
        margin-top: 0;
    }

    &-2 {
        .input {
            width: 49%;

            &:last-child {
                float: right;
            }
        }
    }

    &-3 {
        .input {
            width: 32.333%;

            &:nth-child(2) {
                margin-left: 1%;
                margin-right: 1%;
            }
        }
    }
}


//
// Group
.input__group {
    display: table;
    width: 100%;

    .input__field {
        display: table-cell;
        vertical-align: top;

        &:not(:last-child) {
            border-right: 0 none;
        }

        &:not(:first-child) {
            border-left: 0 none;
        }
    }

    .input__addon {
        background-color: $formAddonBg;
        border: 1px solid $formBorderColor;
        display: table-cell;
        height: 40px;
        min-width: 40px;
        overflow: hidden;
        text-align: center;
        vertical-align: top;
        width: 15%;

        &:first-child {
            border-right: 0 none;
        }

        &:last-child {
            border-left: 0 none;
        }
    }

    .input__icon {
        @extend %icon22;
        fill: $formIconColor;
        margin-top: 8px;
    }

    .input__text {
        color: $formIconColor;
        font-size: 15px;
        line-height: 1;
        padding-top: 12px;
    }
}

//
// Sizes
.input {
    &--sm {
        max-width: 150px;
    }

    &--thin {
        height: 35px;

        .input__field {
            height: 35px;
        }

        .input__addon {
            height: 35px;
        }

        .input__icon {
            margin-top: 5px;
        }
    }
}

//
// State
.input--has-error {
    .input__label {
        color: $primary;
    }

    .input__field,
    .input__addon {
        border-color: $primary;
    }
}
*/
@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.btn {
  align-items: center;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-shadow: none;
  color: #333;
  display: inline-flex;
  font-size: 1rem;
  height: 2.285em;
  justify-content: center;
  line-height: 1.56;
  padding-left: 0.75em;
  padding-right: 0.75em;
  position: relative;
  text-align: center;
  vertical-align: top;
  white-space: nowrap; }
  .btn .icon:first-child:not(:last-child) {
    height: 65%;
    margin-left: -.25rem;
    margin-right: .5rem;
    width: auto; }
  .btn .icon:last-child:not(:first-child) {
    height: 65%;
    margin-left: .5rem;
    margin-right: -.25rem;
    width: auto; }
  .btn:focus, .btn:active {
    outline: none; }
  .btn--success {
    background-color: #30b19b;
    border-color: #30b19b;
    color: #fff; }
    .btn--success:hover:not(.is-disabled) {
      background-color: #2b9d89;
      color: #fff; }
    .btn--success:focus, .btn--success:active {
      background-color: #2b9d89;
      color: #fff; }
  .btn--error {
    background-color: #d44c54;
    border-color: #d44c54;
    color: #fff; }
    .btn--error:hover:not(.is-disabled) {
      background-color: #cf3740;
      color: #fff; }
    .btn--error:focus, .btn--error:active {
      background-color: #cf3740;
      color: #fff; }
  .btn--warning {
    background-color: #ffdd57;
    border-color: #ffdd57;
    color: #333; }
    .btn--warning:hover:not(.is-disabled) {
      background-color: #ffd83e;
      color: #333; }
    .btn--warning:focus, .btn--warning:active {
      background-color: #ffd83e;
      color: #333; }
  .btn--notice {
    background-color: #3273dc;
    border-color: #3273dc;
    color: #fff; }
    .btn--notice:hover:not(.is-disabled) {
      background-color: #2466d1;
      color: #fff; }
    .btn--notice:focus, .btn--notice:active {
      background-color: #2466d1;
      color: #fff; }
  .btn--link {
    background-color: transparent;
    border-color: transparent;
    color: #333;
    text-decoration: underline; }
    .btn--link:hover:not(.is-disabled) {
      background-color: transparent;
      color: #333; }
    .btn--link:focus, .btn--link:active {
      background-color: transparent;
      color: #333; }
  .btn--reset {
    background-color: transparent;
    border-color: transparent;
    color: inherit;
    padding: 0; }
    .btn--reset:hover:not(.is-disabled) {
      background-color: transparent;
      color: inherit; }
    .btn--reset:focus, .btn--reset:active {
      background-color: transparent;
      color: inherit; }
  .btn--loading {
    color: transparent !important;
    pointer-events: none; }
    .btn--loading::after {
      animation: spinAround 500ms infinite linear;
      border: 2px solid #dbdbdb;
      border-radius: 50%;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 1rem;
      left: 50%;
      margin-left: -8px;
      margin-top: -8px;
      position: absolute;
      top: 50%;
      width: 1rem; }
  .btn--small {
    font-size: .75rem; }
  .btn--medium {
    font-size: 1.25rem; }
  .btn--large {
    font-size: 1.5rem; }
  .btn--block {
    display: flex;
    width: 100%; }
  .btn.is-disabled {
    cursor: not-allowed; }
    .btn.is-disabled .icon {
      fill: #e2e2e2; }

.btn-group {
  display: flex; }
  .btn-group .btn {
    flex-shrink: 0;
    margin-bottom: 0; }
  .btn-group .btn + .btn {
    margin-left: .75rem; }

@keyframes badgeAnim {
  0% {
    transform: scale(0); }
  80% {
    transform: scale(1.6); }
  100% {
    transform: scale(1); } }

.badge {
  background-color: #8a8a8a;
  border-radius: 4px;
  color: #fff;
  display: inline-flex;
  font-size: 10px;
  line-height: 1.5em;
  overflow: hidden;
  padding-left: 0.6em;
  padding-right: 0.6em;
  transition: opacity 0.15s ease-in, transform 0.3s cubic-bezier(0.11, 0.82, 0.68, 1.05); }
  .badge--error {
    background-color: #d44c54;
    color: #fff; }
  .badge--success {
    background-color: #30b19b;
    color: #fff; }

.dropanim {
  /*&-appear {
        opacity: 0;
        transition: opacity .7s ease-in;

        &.dropanim-appear-active {
            opacity: 1;
        }
    }*/ }
  .dropanim-enter {
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.65, 0.05, 0.36, 1); }
    .dropanim-enter.dropanim-enter-active {
      opacity: 1; }
  .dropanim-leave {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.65, 0.05, 0.36, 1); }
    .dropanim-leave.dropanim-leave-active {
      opacity: 0; }

.dropdown {
  display: inline-block;
  position: relative; }

.dropdown__content {
  display: none;
  margin-top: 10px;
  position: absolute;
  z-index: 999999; }

.dropdown--is-active .dropdown__content {
  display: block; }

.dropdown__menu {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(120, 120, 120, 0.3);
  color: #333;
  min-height: 120px;
  min-width: 150px;
  padding: 10px 5px;
  position: relative; }
  .dropdown__menu::before, .dropdown__menu::after {
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1; }
  .dropdown__menu::before {
    border-bottom-color: #e2e2e2;
    top: -12px; }
  .dropdown__menu::after {
    border-bottom-color: #fff;
    top: -10px; }
  .dropdown__menu-item {
    display: block;
    font-size: 16px;
    padding: 8px;
    position: relative;
    z-index: 2; }
    .dropdown__menu-item:hover {
      background-color: #d44c54;
      color: #fff; }
    .dropdown__menu-item.is-current {
      background-color: transparent;
      color: #d44c54; }

.dropdown--centered .dropdown__content {
  left: 50%;
  transform: translateX(-50%); }

.dropdown--centered .dropdown__menu::before, .dropdown--centered .dropdown__menu::after {
  left: 50%;
  margin-left: -10px; }

.dropdown--left .dropdown__content {
  left: 0;
  margin-left: -15px; }

.dropdown--left .dropdown__menu::before, .dropdown--left .dropdown__menu::after {
  left: 10px; }

.dropdown--right .dropdown__content {
  margin-right: -15px;
  right: 0; }

.dropdown--right .dropdown__menu::before, .dropdown--right .dropdown__menu::after {
  right: 10px; }

.table__head {
  align-items: center;
  border-bottom: 2px solid #e2e2e2;
  display: flex; }
  .table__head .table__col {
    color: #7a7a7a; }

.table__row {
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px; }

.table__col {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 5px; }

.table__opt {
  display: inline-flex; }
  .table__opt + .table__opt {
    margin-left: 8px; }

.table__body .table__row:nth-child(even) {
  background-color: #fafafa; }

.table__body .table__row:hover:not(.not-hover) {
  background-color: #f5f5f5;
  transition: background-color .2s ease; }

.table .input {
  height: 2.643em; }
  .table .input__field {
    height: 100%; }

.table__col--options {
  align-items: center;
  display: inline-flex;
  justify-content: flex-end;
  text-align: right; }

.search {
  position: relative; }
  .search__clear {
    color: #8a8a8a;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 100%;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 0;
    transition: opacity .3s ease-out; }
    .search__clear:hover {
      color: #d44c54; }
    .search__clear.is-show {
      opacity: 1;
      pointer-events: all;
      transition-timing-function: ease-in; }

.tabs {
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 20px 0;
  width: 100%; }
  .tabs__item {
    flex: 1;
    height: 35px;
    min-width: 78px;
    overflow: hidden;
    position: relative; }
    .tabs__item--is-active .tabs__tab, .tabs__item:hover .tabs__tab {
      height: 35px; }
  .tabs__tab {
    border-bottom: 3px solid #d44c54;
    color: #333;
    display: block;
    font-size: 14px;
    height: 38px;
    padding: 5px;
    text-decoration: none;
    transition: height .2s ease-in-out; }
  .tabs__icon {
    margin-left: 3px;
    vertical-align: middle; }

.tabs__panel {
  display: none;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .tabs__panel--is-open {
    display: block; }

.pagination, .pagination__list {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center; }

.pagination {
  margin-bottom: 1rem;
  margin-top: 1rem; }
  .pagination__list:not(:first-child) {
    margin-left: .75em; }
  .pagination__list li:not(:first-child) {
    margin-left: .375rem; }
  .pagination__link {
    align-items: center;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    display: inline-flex;
    font-size: .875rem;
    height: 2.285em;
    justify-content: center;
    line-height: 1.5;
    min-width: 2.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
    text-align: center;
    vertical-align: top; }

.pagination__link--ellipsis {
  user-select: none; }

.pagination__link--prev, .pagination__link--next {
  padding-left: .75em;
  padding-right: .75em;
  margin-left: .75em;
  min-width: 5em; }

.pagination__link:hover.is-active {
  color: #fff; }

.pagination__link:hover:not(.is-active) {
  background-color: transparent;
  border-color: #333;
  color: #333; }

.pagination__link.is-disabled {
  background-color: #dbdbdb;
  border-color: transparent;
  color: #7a7a7a; }

.pagination__link.is-active {
  background-color: #d44c54;
  border-color: #d44c54;
  color: #fff; }

.tree__children .tree__link.is-active, .tree__item.is-active .tree__header {
  background-color: #d44c54;
  color: #fff;
  position: relative; }
  .tree__children .tree__link.is-active::after, .tree__item.is-active .tree__header::after {
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid transparent;
    content: " ";
    height: 0;
    margin-top: -10px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 0; }

.tree {
  border-bottom: 2px solid #e2e2e2;
  border-top: 2px solid #e2e2e2; }
  .tree__item + .tree__item {
    border-top: 1px solid #e2e2e2; }
  .tree__header {
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px; }
    .tree__header:hover {
      background-color: #f5f5f5; }
  .tree__link {
    display: block;
    padding: 15px 0; }
  .tree__caret {
    display: inline-flex;
    transition: transform .2s ease; }
  .tree__children {
    height: 100%;
    max-height: 0;
    overflow-y: hidden;
    padding: 0;
    transition: max-height 0.3s cubic-bezier(0, 1, 0.5, 1), padding 0.2s linear; }
    .tree__children .tree__link {
      display: block;
      padding: 8px 10px;
      transition: background-color .1s linear; }
      .tree__children .tree__link:hover:not(.is-active) {
        background-color: #f5f5f5; }

.tree__item.is-open .tree__header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e2e2e2; }

.tree__item.is-open .tree__caret {
  transform: rotate(-45deg); }

.tree__item.is-open .tree__children {
  max-height: 800px;
  padding: 8px 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0.5, 1), padding 0.2s linear; }

.tile {
  align-items: stretch;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 12px rgba(200, 200, 200, 0.2);
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 100%;
  padding: 1.25rem 1.5rem; }
  .tile__header {
    justify-content: space-between;
    margin-bottom: 8px; }
  .tile .table__col--1 {
    flex-basis: 80%; }
  .tile .table__col--options {
    display: inline-flex;
    flex-basis: 10%;
    justify-content: space-between; }

.modal {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20; }
  .modal__background {
    background-color: rgba(10, 10, 10, 0.86);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .modal__content, .modal__card {
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%; }
  .modal__close {
    background-color: rgba(10, 10, 10, 0.2);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    height: 40px;
    outline: none;
    position: fixed;
    right: 20px;
    top: 20px;
    user-select: none;
    vertical-align: top;
    width: 40px; }
    .modal__close::before, .modal__close::after {
      background-color: #fff;
      content: "";
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      transform-origin: center center; }
    .modal__close::before {
      height: 2px;
      width: 50%; }
    .modal__close::after {
      height: 50%;
      width: 2px; }
    .modal__close:hover, .modal__close:focus {
      background-color: rgba(10, 10, 10, 0.3); }
    .modal__close:active {
      background-color: rgba(10, 10, 10, 0.4); }
    .modal__close.is-small {
      height: 16px;
      width: 16px; }
    .modal__close.is-medium {
      height: 24px;
      width: 24px; }
    .modal__close.is-large {
      height: 32px;
      width: 32px; }
  .modal.is-active {
    display: flex; }

.modal-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden; }
  .modal-card__head, .modal-card__foot {
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 15px;
    position: relative; }
  .modal-card__head {
    border-bottom: 1px solid #dbdbdb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .modal-card__title {
    color: #363636;
    flex-shrink: 0;
    font-size: 1.5rem;
    line-height: 1; }
  .modal-card__foot {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #dbdbdb; }
    .modal-card__foot .btn:not(:last-child) {
      margin-right: 10px; }
  .modal-card__body {
    background-color: #fff;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px; }

@media (min-width: 48em) {
  .modal__content, .modal-card {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px; } }

.alert {
  color: #333;
  font-size: 14px;
  max-height: 99999px;
  padding: 18px 15px;
  position: relative;
  transition: max-height 0.2s cubic-bezier(0, 0, 0.26, 1.1), padding 0.2s cubic-bezier(0, 0, 0.26, 1.1);
  width: 100%; }
  .alert.is-closable {
    padding: 18px 40px 18px 15px; }
  .alert.is-hidden {
    max-height: 0;
    padding-bottom: 0;
    padding-top: 0; }
  .alert .close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }

.alert--success {
  background-color: #30b19b;
  color: #fff; }

.alert--error {
  background-color: #d44c54;
  color: #333; }

.panel {
  border: 1px solid #ddd;
  margin-top: 1.5em; }
  .panel__header {
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    padding: 10px; }
  .panel .caret {
    height: 18px;
    transition: transform .2s ease-out;
    width: 18px; }
  .panel__content {
    padding: 10px 15px; }
  .panel .panel:first-child {
    margin-top: .5em; }
  .panel--collapse .panel__header {
    align-items: center;
    justify-content: space-between; }
  .panel--collapse .panel__content {
    overflow: hidden;
    transition: max-height .3s linear; }

.Select-control {
  border-color: #e2e2e2;
  border-radius: 0; }

.engine__info {
  color: #8a8a8a;
  display: block;
  font-size: 12px; }

.dropdown__menu-item:hover .engine__info {
  color: #fff; }

.u-h100 {
  height: 100%; }

.cf::after {
  clear: both;
  content: "";
  display: table; }

.u-left {
  float: left; }

.u-right {
  float: right; }

.u-centered {
  margin-left: auto;
  margin-right: auto; }

.u-block {
  display: block; }

.u-mg--auto {
  margin: auto; }

.u-mgt--0 {
  margin-top: 0; }

.u-mgt--10 {
  margin-top: 10px; }

.u-mgt--15 {
  margin-top: 15px; }

.u-mgt--18 {
  margin-top: 18px; }

.u-mgb--0 {
  margin-bottom: 0; }

.u-mgb--20 {
  margin-bottom: 20px; }

.u-v--middle {
  vertical-align: middle !important; }

.u-v--top {
  vertical-align: top !important; }

.u-v--bottom {
  vertical-align: bottom !important; }

.alert {
  text-align: center; }

.txt-center, .tabs__item {
  text-align: center !important; }

.txt-left {
  text-align: left !important; }

.txt-right {
  text-align: right !important; }

.txt-justify {
  text-align: justify !important; }

.txt--small, .table--notices .badge, .table--manuals .badge {
  font-size: 12px; }

.table__head .table__col, .txt--medium {
  font-size: 16px; }

.txt--large {
  font-size: 18px; }

.txt-upper {
  text-transform: uppercase; }

.txt-underline {
  text-decoration: underline; }

.u-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden !important; }

.is-disabled {
  opacity: .5;
  pointer-events: none; }

[data-scrollable] {
  overflow-y: scroll; }

.global__header {
  background-color: #222;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15);
  color: #fff;
  height: 50px;
  padding: 10px; }
  .global__header > .row {
    height: 100%; }
  .global__header-left {
    flex-basis: 170px;
    margin-left: 1rem;
    max-width: 170px; }
  .global__header-right {
    padding-left: 10px;
    padding-right: 10px; }

.global__logo {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase; }

.sidebar-btn {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  transition: transform .3s ease; }
  .sidebar-btn.is-open {
    transform: rotate(0); }

.nav-opt {
  line-height: 1; }
  .nav-opt__search {
    flex-grow: 1;
    justify-content: flex-end;
    padding-left: 1rem; }
    .nav-opt__search .icon {
      align-items: center;
      display: inline-flex; }
  .nav-opt__actions {
    align-items: center;
    display: inline-flex;
    flex-grow: 1;
    justify-content: flex-end; }
  .nav-opt__link {
    display: inline-flex;
    line-height: 1; }
    .nav-opt__link + .nav-opt__link {
      margin-left: 25px; }

.global__search {
  flex-grow: 1;
  max-width: 0;
  overflow: hidden;
  position: relative;
  transition: max-width .4s ease; }
  .global__search-input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
    color: #ddd;
    font-size: 16px;
    height: 100%;
    margin-left: 15px;
    padding: 0 20px 0 10px;
    width: 100%; }
  .global__search-clear {
    margin-top: -6px;
    position: absolute;
    right: 5px;
    top: 50%; }
  .global__search.is-active {
    max-width: 100%; }

.user .icon--caret {
  margin-left: 8px; }

.dropdown--user .dropdown__content {
  margin-top: 20px; }

.dropdown--user .dropdown__menu {
  min-height: 0; }

.wrapper {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100% - 50px); }
  .wrapper.small-sidebar .global__aside {
    flex: 0 0 65px;
    width: 65px; }

.global__aside {
  background: #333;
  flex: 0 0 170px;
  transition: flex .3s ease; }

.global__main {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  overflow-x: hidden;
  position: relative; }

.box {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  padding: 25px 10px; }
  .box--m {
    margin-top: 25px; }
  .box + .box {
    margin-top: 1em; }
  .box__title {
    margin-bottom: .75em; }

#root > div {
  height: 100%; }

.is-cart-open #root {
  overflow: hidden; }

.bartop {
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  height: 80px;
  padding: 11px 20px 11px 25px; }
  .bartop > .row {
    height: 100%; }
  .bartop__left {
    height: 100%; }

.page-title {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 7px; }

.iconpart__block {
  padding: 0 8px; }

.iconpart__item {
  color: #333;
  cursor: pointer;
  font-size: 12px;
  height: 55px;
  text-align: center;
  width: 55px; }

.iconpart__text {
  display: block;
  text-transform: uppercase; }

.iconpart__item.is-active {
  background-color: transparent;
  color: #d44c54; }

.dropdown__menu--cards {
  columns: 2;
  width: 260px; }
  .dropdown__menu--cards .iconpart__item {
    break-inside: avoid;
    height: 80px;
    width: 100%; }

.dropdown__menu-item--back {
  align-items: center;
  border-bottom: 1px solid #8a8a8a;
  display: flex;
  justify-content: center; }
  .dropdown__menu-item--back:hover {
    background-color: #e2e2e2;
    color: inherit; }
  .dropdown__menu-item--back .icon {
    margin-right: 8px; }

.dropdown__menu--docs .dropdown__menu-item {
  font-size: 14px;
  text-align: left; }

.content {
  height: calc(100% - 80px);
  overflow-y: scroll;
  padding: 1em; }
  .content__title {
    border-bottom: 3px solid #e2e2e2;
    font-size: 40px;
    margin-bottom: 30px; }

.dashboard {
  margin: 1rem; }
  .dashboard .row + .row {
    margin-top: 1rem; }

.search-result__count {
  display: inline-block;
  line-height: 1;
  margin-top: -3px;
  vertical-align: middle; }

.search-result__item {
  display: block;
  padding: 8px; }
  .search-result__item:hover {
    background-color: #f4f4f4; }

@media (max-width: 47.99em) {
  .global__aside {
    margin-left: -170px; }
  .global__aside,
  .global__main {
    transition: transform .3s ease; }
  .wrapper.menu-is-open .global__aside,
  .wrapper.menu-is-open .global__main {
    transform: translateX(170px); } }

@media (min-width: 48em) {
  .global__aside {
    flex: 0 0 65px;
    width: 65px; } }

@media (min-width: 62em) {
  .global__aside {
    flex: 0 0 170px; } }

.alpha {
  padding-left: 0 !important; }

.lamina {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  height: 100%; }
  .lamina__header {
    border-bottom: 1px solid #e2e2e2;
    padding: 15px; }
    .lamina__header .btn-group .btn {
      flex-grow: 0;
      flex-shrink: 0; }
  .lamina__name {
    margin-left: 15px; }
  .lamina__content {
    overflow: hidden; }
    .lamina__content > .row {
      height: 100%; }
  .lamina__inner {
    flex-direction: column;
    height: 100%; }
  .lamina__search {
    border-bottom: 1px solid #e2e2e2;
    padding: 15px 20px; }
  .lamina__list {
    overflow-y: scroll; }
  .lamina__image {
    border-left: 1px solid #e2e2e2;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%; }
    .lamina__image span {
      display: block;
      height: 100%;
      width: 100%; }
    .lamina__image-img {
      display: block;
      max-height: 99.5%;
      max-width: 100%; }

.cardline {
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  transition: background-color .3s ease-out; }
  .cardline__number {
    font-size: 80%;
    text-align: center;
    width: 15%; }
  .cardline__items {
    border-left: 1px solid #e2e2e2;
    width: 85%; }
  .cardline:hover .cardline__number {
    color: #d44c54;
    font-size: 95%; }

.parts .no-results {
  font-size: 16px;
  padding: 1.5rem 1rem; }

.part {
  font-size: 12px;
  position: relative; }
  .part + .part {
    border-top: 1px solid #e2e2e2; }
  .part__inner {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%; }
  .part__front, .part__back {
    min-height: 69px;
    min-width: 100%; }
  .part__front {
    padding: 5px 12px; }
    .part__front .part__content {
      margin-top: 10px; }
  .part__name {
    display: block;
    font-size: 14px; }
  .part__sku {
    color: #b9b9b9;
    display: block;
    line-height: 1; }
  .part__content {
    justify-content: space-between; }
  .part__back-content {
    height: 100%; }
  .part__back .part__content {
    align-items: center;
    background-color: #fff;
    border-left: 1px solid #e2e2e2;
    height: 100%;
    padding: 10px 15px; }
  .part__back-addtocart {
    margin-left: 1em; }
  .part__close {
    padding: 10px 8px;
    text-align: center; }
    .part__close-text {
      display: block; }
    .part__close .icon {
      margin-top: 5px; }
  .part:not(.is-disabled) .part__front:hover {
    background-color: #f4f4f4; }
  .part.is-disabled {
    cursor: not-allowed;
    opacity: 1;
    pointer-events: none;
    position: relative; }
    .part.is-disabled .part__inner::before {
      background-color: rgba(255, 255, 255, 0.7);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1; }
    .part.is-disabled .part__inner::after {
      color: #d44c54;
      content: "NO DISPONIBLE";
      font-size: 20px;
      font-weight: 700;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-12deg);
      white-space: nowrap;
      z-index: 2; }
  .part::after {
    background-color: #30b19b;
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    transition: width .2s linear;
    width: 0; }
  .part.is-inside::after {
    width: 4px; }

.bubble {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 0 5px;
  vertical-align: middle;
  width: 10px; }
  .bubble--success {
    background-color: #30b19b; }
  .bubble--error {
    background-color: #d44c54; }
  .bubble--warning {
    background-color: #ffdd57; }

@keyframes drift-fadeZoomIn {
  0% {
    opacity: 0;
    transform: scale(1.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes drift-fadeZoomOut {
  0% {
    opacity: 1;
    transform: scale(1); }
  15% {
    opacity: 1;
    transform: scale(1.1); }
  100% {
    opacity: 0;
    transform: scale(0.5); } }

@keyframes drift-loader-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0); }
  50% {
    transform: translate(-50%, -50%) rotate(-180deg); }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg); } }

@keyframes drift-loader-before {
  0% {
    transform: scale(1); }
  10% {
    transform: scale(1.2) translateX(6px); }
  25% {
    transform: scale(1.3) translateX(8px); }
  40% {
    transform: scale(1.2) translateX(6px); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(0.8) translateX(6px); }
  75% {
    transform: scale(0.7) translateX(8px); }
  90% {
    transform: scale(0.8) translateX(6px); }
  100% {
    transform: scale(1); } }

@keyframes drift-loader-after {
  0% {
    transform: scale(1); }
  10% {
    transform: scale(1.2) translateX(-6px); }
  25% {
    transform: scale(1.3) translateX(-8px); }
  40% {
    transform: scale(1.2) translateX(-6px); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(0.8) translateX(-6px); }
  75% {
    transform: scale(0.7) translateX(-8px); }
  90% {
    transform: scale(0.8) translateX(-6px); }
  100% {
    transform: scale(1); } }

.drift-zoom-pane {
  background: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, 0, 0); }
  .drift-zoom-pane.drift-opening {
    animation: drift-fadeZoomIn 180ms ease-out; }
  .drift-zoom-pane.drift-closing {
    animation: drift-fadeZoomOut 210ms ease-in; }
  .drift-zoom-pane.drift-inline {
    border-radius: 50%;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
    height: 250px;
    left: -100%;
    position: absolute;
    top: 0;
    width: 250px; }

.drift-loading .drift-zoom-pane-loader {
  animation: drift-loader-rotate 1800ms infinite linear;
  display: block;
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 66px; }

.drift-zoom-pane-loader::before, .drift-zoom-pane-loader .drift-zoom-pane-loader::after {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  content: "";
  display: block;
  height: 20px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 20px; }

.drift-zoom-pane-loader::after {
  animation: drift-loader-after 1800ms infinite linear;
  animation-delay: -900ms;
  right: 0; }

.drift-zoom-pane-loader::before {
  animation: drift-loader-before 1800ms infinite linear;
  left: 0; }

.drift-bounding-box {
  background-color: rgba(0, 0, 0, 0.4); }

.table--orders .table__col--1 {
  flex-basis: 20%;
  max-width: 20%; }

.table--orders .table__col--2 {
  flex-basis: 20%;
  max-width: 20%; }

.table--orders .table__col--3 {
  flex-basis: 20%;
  max-width: 20%; }

.table--orders .table__col--4 {
  flex-basis: 20%;
  max-width: 20%; }

.table--orders .table__col--5 {
  flex-basis: 20%;
  max-width: 20%; }

.table--orders .table__col--options {
  flex-basis: 10%;
  max-width: 10%;
  display: inline-flex;
  justify-content: space-between; }

.table--orders .table__opt {
  color: #333; }

.order-tile__info {
  margin-top: 5px; }

.order-tile__label {
  display: inline-block;
  height: 20px;
  margin-right: 15px; }

.order-tile__icon {
  margin-right: 5px; }

.table--torders .table__col--1 {
  flex-basis: 35%;
  max-width: 35%; }

.table--torders .table__col--2 {
  flex-basis: 25%;
  max-width: 25%; }

.table--quotations .table__col--2 {
  flex-basis: 10%;
  max-width: 10%; }

.table--quotations .table__col--3 {
  flex-basis: 15%;
  max-width: 15%; }

.table--quotations .table__col--4 {
  flex-basis: 18%;
  max-width: 18%; }

.table--quotations .table__col--options {
  flex-basis: 20%;
  max-width: 20%; }

.table--orderviewlines .table__col--1 {
  flex-basis: 70%;
  max-width: 70%; }

.table--orderviewlines .table__col--2 {
  flex-basis: 10%;
  max-width: 10%; }

.table--orderviewlines .table__col--3 {
  flex-basis: 20%;
  max-width: 20%; }

.section + .section {
  margin-top: 20px; }

.section.section--summary {
  display: block;
  margin-top: 35px; }

.summary {
  padding-top: 6px; }

.summary__label {
  width: 80%; }

.summary__value {
  width: 20%; }

.table--notices .table__col--1 {
  flex-basis: 65%; }

.table--notices .table__col--2 {
  flex-basis: 20%; }

.table--notices .table__col--options {
  flex-basis: 15%;
  text-align: center; }

.table--notices .badge {
  margin: 0 5px; }

.table--notices .icon:hover {
  fill: #d44c54;
  transition: fill .2s ease; }

.table--manuals .table__col--1 {
  flex-basis: 65%; }

.table--manuals .table__col--2 {
  flex-basis: 20%; }

.table--manuals .table__col--options {
  flex-basis: 15%;
  text-align: center; }

.table--manuals .table__row.is-discontinued {
  opacity: .8; }

.table--manuals .badge {
  margin: 0 5px; }

.table--manuals .icon:hover {
  fill: #d44c54;
  transition: fill .2s ease; }

.cart-btn {
  position: relative; }
  .cart-btn__badge {
    position: absolute;
    right: -10px;
    top: -6px; }

.cart {
  background-color: rgba(36, 37, 42, 0.7);
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  transition: z-index 0.1s ease-out 0.6s, opacity 0.3s cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;
  width: 100%;
  z-index: -1; }
  .cart__modal {
    background-color: #fff;
    box-shadow: 1px 0 3px rgba(120, 120, 120, 0.3);
    left: 50%;
    position: absolute;
    top: -100%;
    transform: translateX(-50%);
    transition: top .3s ease-out;
    width: 95%; }
  .cart__inner {
    height: calc(100vh - 100px);
    overflow-y: scroll;
    padding: 3rem 1rem 1rem;
    position: relative; }
  .cart__close {
    position: absolute;
    right: 2rem;
    top: .5rem; }
  .cart__number {
    color: #696969;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px; }
  .cart__title {
    color: #696969;
    font-size: 25px; }
  .cart__header {
    align-items: center;
    justify-content: space-between; }
  .cart__container {
    margin-bottom: 25px;
    margin-top: 15px; }
  .cart__footer {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0 -12px 10px -10px rgba(218, 218, 218, 0.75);
    left: 0;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%; }
    .cart__footer .btn {
      display: flex; }

.cart-name {
  margin-left: 15px; }
  .cart-name .in-input__name--placeholder {
    color: #8a8a8a;
    font-style: italic; }
  .cart-name .input {
    font-size: 16px;
    height: 100%; }
    .cart-name .input__field {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      padding-left: 0; }
      .cart-name .input__field:placeholder {
        color: #8a8a8a;
        font-size: 16px;
        font-style: italic; }
  .cart-name .in-input__input {
    height: 35px; }
  .cart-name .in-input__clear {
    margin-left: -20px; }
  .cart-name .in-input__name .icon {
    margin-left: 10px; }

.cart__total {
  font-size: 1.6rem; }
  .cart__total-label {
    margin-right: .75rem; }

.is-cart-open .cart {
  opacity: 1;
  transition: z-index 0.1s ease-in, opacity 0.3s cubic-bezier(0.65, 0.05, 0.36, 1) 0.1s;
  z-index: 900; }

.is-cart-open .cart__modal {
  top: 0;
  transition: top 0.3s cubic-bezier(0.63, 0.13, 0.85, 0.95) 0.4s; }

.cart-list .table__col--1 {
  flex-basis: 49%; }

.cart-list .table__col--2 {
  flex-basis: 16%;
  justify-content: center;
  text-align: center; }

.cart-list .table__col--3 {
  flex-basis: 20%;
  justify-content: flex-end;
  text-align: right; }

.cart-list .table__col--options {
  flex-basis: 15%;
  text-align: right; }

.cart-list .table__body .table__col--1 {
  font-size: 12px; }

.cart-list__btn + .cart-list__btn {
  margin-left: 10px; }

.cart-list__total {
  color: #696969;
  display: flex;
  font-size: 16px;
  padding-top: 10px; }
  .cart-list__total-name {
    text-align: right;
    width: 65%; }
  .cart-list__total-value {
    padding: 0 5px;
    text-align: right;
    width: 20%; }

.cart-list .input--numeric {
  height: 2.5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 160px; }

.cart-item__name {
  display: block; }

.cart-item__sku {
  color: #8a8a8a;
  display: block; }

.cart-extra .table__col--1 {
  flex-basis: 50%; }

.cart-extra .table__col--2 {
  flex-basis: 25%; }

.cart-extra .table__col--3 {
  flex-basis: 25%;
  justify-content: space-between; }

.cart__send-loading {
  height: 250px;
  width: 250px; }

@media (max-width: 47.99em) {
  .cart__footer {
    border-top: 1px solid #e2e2e2; }
  .cart__actions .btn {
    margin-top: 10px; } }

@media (min-width: 48em) {
  .cart__footer {
    bottom: 0;
    box-shadow: 0 -12px 10px -10px rgba(218, 218, 218, 0.75);
    left: 0;
    padding: 1rem;
    position: fixed; } }

@media (min-width: 75em) {
  .cart__modal {
    width: 70%; }
  .cart__inner {
    padding: 3rem 2rem 5rem; }
  .cart__footer {
    padding: 1rem 2rem; } }
