//
// BackEnd Styles
// --------------------------------------------------

// Variables
// ========================================================================
// $loginBodyBg: $brandPrimary;
$asideWidth: 220px;

// Placeholders
// ========================================================================
%box {
    background-color: #fffefe;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(185, 185, 185, .4);
    padding: 1rem 1.5em;
}

// Component
// ========================================================================
body {
    background-color: #e7e9f1;
    overflow: hidden;
}

#engine-root {
    position: relative;
}

.is-link {
    color: #009aef;
}

.pagination {
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.appname {
    color: #fffefe;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.global-header {
    background-color: #fffefe;
    height: 60px;

    &-left {
        align-items: center;
        background-color: #313842;
        border-bottom: 2px solid #202631;
        justify-content: center;
        width: $asideWidth;
    }

    &-right {
        border-bottom: 2px solid #dbdee3;
        padding-left: 15px;
        padding-right: 15px;
        width: calc(100% - #{$asideWidth});
    }
}

.wrapper {
    height: calc(100% - 60px);
}

.global-aside {
    background-color: #2b323e;
    color: #fffefe;
    flex-direction: column;
    width: $asideWidth;

    &__menu {
        flex-grow: 1;
        flex-shrink: 1;
        overflow: auto;
    }
}

.global-main {
    width: calc(100% - #{$asideWidth});
}

.global-actions {
    height: 100%;
    justify-content: space-between;
    margin-left: auto;
    max-width: 370px;

    &__link {
        border-bottom: 0 solid #2b323e;
        color: #9fa0a8;
        display: inline-flex;
        font-size: 16px;
        font-weight: 500;
        height: 100%;
        line-height: 1;
        margin: 0 10px;
        padding: 21px 0;
        transition: border-bottom .1s linear;

        &.is-current,
        &:hover {
            border-bottom-width: 4px;
            color: #2b323e;
        }
    }
}

.global-logout {
    background-color: #343b49;
    color: #fffefe;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 20px;
    text-align: center;
    width: 100%;
}

.global-user {
    align-items: center;
    flex-shrink: 0;
    margin: 25px 0;

    /*&-avatar {
        align-items: center;
        background-color: #fffefe;
        color: #343b49;
        font-size: 30px;
        height: 85px;
        justify-content: center;
        margin-bottom: 10px;
        text-align: center;
        width: 85px;
    }*/

    &__role {
        color: #919eab;
        text-transform: capitalize;
    }
}

.content {
    height: calc(100% - 40px);
    margin-bottom: 1.5rem;
    overflow-y: scroll;
    padding: 2rem 1.5rem 0;
}

.bartop {
    margin: 1.5rem 1.5rem 0;
    padding-bottom: 1.5rem;

    + .content {
        padding-top: 0;
    }
}

.box {
    background-color: #fffefe;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(185, 185, 185, .4);
    padding: 1rem 1.5rem;

    & + & {
        margin-top: 1rem;
    }

    &--clear {
        padding: 0;
    }

    &--filter {
        padding: 1rem;
    }

    &__header {
        border-bottom: 2px solid #e7e9f1;
        padding: .75rem 1.5rem;
    }

    &__content {
        padding: 1rem 1.5rem;
    }

    &__footer {
        border-top: 2px solid #e7e9f1;
        padding: .75rem 1.5rem;
    }
}

.filter {
    &__icon {
        line-height: 1;
        margin-right: .75rem;
    }
}

.btn--negative {
    background-color: transparent;
    border-color: #9fa0a8;
    color: #9fa0a8;
    font-weight: 500;
    height: 2.8em;
    transition: background-color .1s ease-in, color .2s ease-out;

    &:hover {
        background-color: #9fa0a8;
        color: #e7e9f1;
    }
}

.table--engines {
    .table__col {
        &--1 {
            @extend %tcol20;
        }

        &--3 {
            @extend %tcol10;
        }

        &--4 {
            @extend %tcol20;
        }

        &--options {
            @extend %tcol10;
        }
    }
}

.m-part-editor {

    &__header {
        justify-content: space-between;
    }

    &__content {
        padding-bottom: 30px;
        padding-top: 30px;
    }
}

.m-cards-list {
    border: 1px solid $grey;
    border-bottom: 0;

    &__item {
        &:nth-child(2n + 1) {
            border-right: 1px solid $grey;
        }

        &:nth-child(2n) {
            padding-left: 0;
        }
    }

    &__empty {
        border-bottom: 1px solid $grey;
        padding: 10px;
    }
}

.m-cards-part {
    @extend %h100;
    border-bottom: 1px solid $grey;

    &:hover {
        .m-cards-part__number {
            background-color: #e7e9f1;
        }
    }

    > .row {
        @extend %h100;
    }

    &__number {
        align-items: center;
        border-right: 1px solid $grey;
        height: 100%;
        justify-content: center;
        transition: background-color .2s ease-out;

        &:hover {
            background-color: transparent !important; // sass-lint:disable-line no-important
        }
    }

    &__list {
        @extend %h100;
        flex-direction: column;
    }
}

.m-line {
    align-items: center;
    height: 100%;
    padding: 8px 10px;
    transition: background-color .2s ease-out;
    width: 100%;

    & + & {
        border-top: 1px solid $grey;
    }

    &:hover {
        background-color: #e7e9f1;
    }

    &__content {
        flex-grow: 1;
        padding-right: 10px;
    }

    &__part {
        @extend %h100;
        align-items: center;
    }
}

.select-icon {
    align-items: center;

    &__icon {
        margin-right: 10px;
    }
}

.lineform {
    .input {
        margin-bottom: 1rem;
    }
}

.mCards-list {
    &__header {
        justify-content: space-between;
    }

    &__list {
        .card__image {
            height: 222px;
        }

        .card__header-title {
            font-size: 1em;
        }
    }
}

.m-cardEdit,
.m-version {

    &__header {
        align-items: center;
        justify-content: space-between;
    }

    &__header-left {
        align-items: center;
    }

    &__title {
        margin-right: 5px;

        &-name {
            color: $greyDark;
            margin-left: 10px;
        }
    }

    .tabs__list {
        border: 1px solid $tabBorderColor;
        margin-bottom: 1rem;
        padding-bottom: 0;
        padding-top: 0;
    }

    .tabs__tab {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .input--uploader {
        height: 300px;
    }
}

.m-card__cover {
    min-height: 222px;
}

.image {
    display: block;
    position: relative;

    &--empty {
        @extend %flex;
        align-items: center;
        justify-content: center;
    }

    // &__placeholder {}
}

.table--models {
    .table__col {
        &--2 {
            @extend %tcol20;
        }

        &--3 {
            @extend %tcol10;
        }

        &--4,
        &--5 {
            @extend %tcol15;
        }
    }
}

.action-form {
    min-height: 300px;
}

.table--modifications {
    .is-loading {
        @extend %centered;
        height: 50px;
        padding: .5rem 0;
        width: 50px;
    }
}

.step-card__list {
    border: 1px solid $grey;
}

.step-card__line {
    &-number {
        @extend %flex;
        align-items: center;
        justify-content: center;
        padding: .6rem;
        width: 15%;
    }

    &-content {
        border-left: 1px solid $grey;
        padding: .6rem;
    }

    &-sku {
        margin-right: 10px;
    }

    &:hover,
    &.is-current {
        background-color: $primary;
        color: $white;
    }

    & + & {
        border-top: 1px solid $grey;
    }
}


.form__block {
    &-title {
        margin-bottom: 10px;
    }

    & + & {
        margin-top: 1rem;
    }
}

.flatpickr-input[readonly] {
    background-color: #fff;
    pointer-events: all;
}

.flatpickr-clear {
    @extend %is-selectable;
    font-weight: 400;
    padding: 5px 0;
    transition: background-color .2s ease-in;

    &:hover {
        background-color: #e6e6e6;
    }
}

.dropdown.dropdown--bartop {
    .dropdown__content {
        margin-top: 15px;
    }
}


.list {
    &__item {
        @extend %flex;
        padding: 8px 10px;

        & + & {
            border-top: 1px solid $grey;
        }
    }
}
