.slist > .slist-item > .slist-item__header {
    border: 1px solid $grey;
}

.slist-item {
    &__header {
        @extend %flex;
        padding: 15px 10px;

        &-name {
            flex-grow: 1;
        }

        &-options {
            align-self: flex-end;

            .slist-item__option {
                line-height: 1;
                margin-left: 6px;
            }
        }

        &:hover > .slist-item__header-name {
            @extend %bold;
        }
    }
}

.slist-item__children {
    .slist-item {
        padding-left: 2rem;

        + .slist-item > .slist-item__header {
            border-top: 1px solid $grey;
        }

        &:nth-child(even) > .slist-item__header {
            background-color: #f4f4f4;
        }
    }
}
