//
// Commercial
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================

// Component
// ========================================================================
.comm-type__btns {
    .btn {
        flex-direction: column;
        flex-shrink: 1;
        padding-bottom: 2.4rem;
        padding-top: 2.4rem;
    }
}
