//
// Dealers
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================

// Component
// ========================================================================

.table--dealers {
    .table__col-- {
        &2,
        &3 {
            @extend %tcol20;
        }

        &4,
        &5 {
            @extend %tcol10;
        }
    }
}

.table--dusers {
    .table__col-- {
        &2,
        &3 {
            @extend %tcol20;
        }

        //&4 {@extend %tcol10;}

        &4 {
            @extend %tcol15;
        }
    }
}

.table--dsubdealers {
    .table__col-- {
        &2,
        &3,
        &4 {
            @extend %tcol20;
        }
    }
}

.table--groups {
    .table__col-- {
        &2 {
            @extend %tcol15;
        }

        &3 {
            @extend %tcol25;
        }
    }
}
