//
// Manuals
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================

// Component
// ========================================================================
.table--manuals {
    .table__col-- {
        &2,
        &3,
        &4 {
            @extend %tcol15;
        }
    }
}
