//
// Notices
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================

// Component
// ========================================================================

.table--notices {
    .table__col {
        &--2,
        &--3 {
            @extend %tcol15;
        }

        &--options {
            @extend %tcol10;
        }
    }

    .notices__title {
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}

.flags {
    &__item {
        height: 100%;
        width: 30px;

        & + & {
            margin-left: 5px;
        }
    }
}
