//
// Orders Module Styles
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================

// Component
// ========================================================================
.table--orders {
    .table__col {
        &--select {
            max-width: 30px;
        }

        &--1 {
            @extend %tcol25;
        }

        &--3,
        &--5 {
            @extend %tcol15;
        }

        &--4 {
            @extend %tcol18;
        }
    }
}

.table--horders {
    .table__col {
        &--1 {
            @extend %tcol20;
        }

        &--3 {
            @extend %tcol10;
        }

        &--6 {
            @extend %tcol15;
        }

        &--4,
        &--5 {
            @extend %tcol18;
        }
    }
}

// View Orders
.table--orderviewlines {
    .table__col {
        &--sel {
            @include table-width(25px);
            padding: 0;
        }

        &--2 {
            @extend %tcol10;
        }

        &--3 {
            @extend %tcol15;
        }

        &--4 {
            @extend %tcol20;
        }
    }
}

.section {
    & + & {
        margin-top: 20px;
    }

    &.section--summary {
        display: block;
        margin-top: 35px;
    }
}

.summary {
    padding-top: 6px;
}

.summary__label {
    width: 80%;
}

.summary__value {
    width: 20%;
}
