//
// Parking
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================

// Component
// ========================================================================
.table--dframes {
    .table__col-- {
        &2 {
            @extend %tcol25;
        }

        &3,
        &4 {
            @extend %tcol15;
        }

        &5 {
            @extend %tcol20;
        }
    }
}

.movement {
    padding: 1rem 0;

    &__content {

    }

    &__arrow {
        background-color: #ddd;
        flex-shrink: 1;
        height: 4px;
        padding: 0 20px;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
        }
    }

    &__date {
        @extend %tcol10;
    }
}
