//
// Parts Module Styles
// --------------------------------------------------

// Variables
// ========================================================================
// $partLangBg: #2b323e;
$partLangBg: $grey;
$partLangBorder: #b1b1b1;

$partLangInputBg: #e8e8e8;

// Placeholders
// ========================================================================


// Component
// ========================================================================
.m-translations__filter {
    &-title {
        padding-right: 1.5rem;
    }

    &-content {
        flex-grow: 1;
    }
}

.m-transpart-part {
    border-top: 2px solid $partLangBorder;
}

.filter__input {
    & + & {
        padding-left: 1rem;
    }

    &--used {
        flex-basis: 20%;
        max-width: 20%;

        .filter__input-inner {
            align-items: center;
        }

        .filter__input-label {
            margin-right: 10px;
            margin-top: 2px;
        }
    }

    &--lang {
        flex-basis: 30%;
        max-width: 30%;
    }

    &--sku {
        flex-grow: 1;
    }

    &--submit {
        flex-basis: 20%;
        max-width: 20%;
    }
}

.m-transpart {
    &__original {
        padding: .75rem;

        &-word {
            margin-top: 5px;
        }
    }
}

.m-langs {
    border-left: 2px solid $partLangBorder;
}

.m-lang {
    & + & {
        border-top: 1px solid $partLangBorder;
    }

    &:nth-child(2n + 1) {
        .m-lang__content {
            background-color: #f9f9f9;
        }
    }

    &__name {
        background-color: $partLangBg;
        flex-basis: 15%;
        max-width: 15%;
        padding: .75rem;
    }

    &__content {
        flex-grow: 1;
        padding: .75rem;
    }

    &__value {
        align-items: center;
        justify-content: space-between;

        &-text--empty {
            font-style: italic;
        }

        &-loading {
            @extend %is-loading;
            border-color: $primary;
            height: 20px;
            position: relative;
            width: 20px;
        }
    }

    .input__field,
    .input__addon {
        background-color: $partLangInputBg;
        border: 0;
    }
}

.m-translations__loadmore {
    border-bottom: 1px dotted $grey;
    border-top: 1px dotted $grey;
    margin-top: 10px;
    padding: 1rem;
}


.table--parts0 {
    .table__col {
        &--2,
        &--3,
        &--4 {
            @extend %tcol20;
        }
    }
}