//
// Warranty Module Styles
// --------------------------------------------------

// Variables
// ========================================================================

// Placeholders
// ========================================================================


// Component
// ========================================================================
.table--warranties {
    .table__col {
        &--1,
        &--3 {
            @extend %tcol20;
        }

        &--4 {
            @extend %tcol15;
        }

        &--5 {
            @include table-width(70px);
        }
    }
}

.table--hwarranties {
    .table__col {
        &--1,
        &--3 {
            @extend %tcol20;
        }

        &--4,
        &--5 {
            @extend %tcol15;
        }
    }
}

.warranty-block {
    & + & {
        margin-top: 25px;
    }

    &__title {
        margin-bottom: 12px;
    }

    &__subtitle {
        border-bottom: 1px solid $primary;
        margin-bottom: 10px;
    }
}

.warranty__partsadd {
    .table__row {
        border-bottom: 0;
    }

    .table__col {
        &--2 {
            @extend %tcol15;
        }

        &--3 {
            @extend %tcol25;
        }

        &--4 {
            display: none;
        }

        &--options {
            @extend %tcol10;
        }
    }
}

.table--warranty-parts {
    .table__col {
        &--2,
        &--5,
        &--6,
        &--options {
            @extend %tcol10;
        }

        &--3,
        &--4 {
            @extend %tcol15;
        }

    }
}

.warranty {
    &__header {
        &-btns {
            border-left: 1px solid $greyDark;
        }
    }

    &__saving {
        &-spinner {
            @extend %is-loading;
            display: inline-block;
            height: 16px;
            margin-right: 8px;
            vertical-align: middle;
            width: 16px;

            &::after { // sass-lint:disable-line nesting-depth
                border-color: $primary;
            }
        }
    }

    &__submit {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    &__history {
        padding: 0 5px;
        position: relative;

        &-badge {
            position: absolute;
            right: -3px;
            top: 0;
        }

        .icon {
            margin: 0 !important; // sass-lint:disable-line no-important
        }

        &-btn {
            border-left: 1px solid $greyDark;
            padding-left: 10px;
        }
    }
}


// History
//
//

.history {
    &__header {
        border-bottom: 1px solid $grey;
        padding: 0 10px 5px;
    }

    &__lines {
        padding: 10px 15px;
    }

    &__line {
        padding: 5px 0;
    }

    & + & {
        margin-top: 20px;
    }
}

.attachment {
    border: 1px solid $greyDark;
    margin-bottom: 1em;
    overflow: hidden;
    position: relative;

    &__image {
        display: inline-block;
        vertical-align: bottom;
    }
}
