//
// Utilities
// --------------------------------------------------
// sass-lint:disable no-important

// Variables
// ========================================================================
$typoSizes: (
    small: 12px,
    medium: 16px,
    large: 18px
);

$typoColors: (
    error: $primary,
    notice: $blue,
    success: $green
);

// Placeholder
//
%centered {
    margin-left: auto;
    margin-right: auto;
}

%truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Component
// ========================================================================

//
// Others
.u-h100 {
    @extend %h100;
}

.u-w100 {
    width: 100%;
}

.u-alpha {
    padding-left: 0;
}

.u-optional {
    display: inline-block;
    font-size: 70%;
    margin-top: -2px;
    vertical-align: middle;
}

.bg--white {
    background-color: $white;
}

//
// Floats and centered
.cf {
    @include clearfix;
}

.u-left {
    float: left;
}

.u-right {
    float: right;
}


.u-centered {
    @extend %centered;
}


//
// Flex
.u-flex {
    @extend %flex;
}

.flex {
    &--between {
        justify-content: space-between;
    }
}

.u-f1 {
    flex: 1;
}

.u-block {
    display: block;
}


//
// Margin / Padding
.u-p {
    &--0 {
        padding: 0;
    }

    &--10 {
        padding: 10px;
    }

    &l-- {
        &15 {
            padding-left: 15px;
        }
    }
}

.u-mg {
    &--auto {
        margin: auto;
    }

    &t-- {
        &0 {
            margin-top: 0;
        }

        &5 {
            margin-top: 5px;
        }

        &10 {
            margin-top: 10px;
        }

        &15 {
            margin-top: 15px;
        }

        &20 {
            margin-top: 20px;
        }

        &18 {
            margin-top: 18px;
        }

        &25 {
            margin-top: 25px;
        }
    }

    &b-- {
        &0 {
            margin-bottom: 0;
        }

        &5 {
            margin-bottom: 5px;
        }

        &10 {
            margin-bottom: 10px;
        }

        &15 {
            margin-bottom: 15px;
        }

        &18 {
            margin-bottom: 18px;
        }

        &20 {
            margin-bottom: 20px;
        }

        &30 {
            margin-bottom: 30px;
        }
    }

    &r-- {
        &5 {
            margin-right: 5px;
        }

        &10 {
            margin-right: 10px;
        }

        &15 {
            margin-right: 15px;
        }

        &auto {
            margin-right: auto;
        }
    }

    &l-- {
        &5 {
            margin-left: 5px;
        }

        &10 {
            margin-left: 10px;
        }

        &15 {
            margin-left: 15px;
        }

        &auto {
            margin-left: auto;
        }
    }
}


//
// Vertical Align
@each $type in (middle, top, bottom) {
    .u-v--#{$type} {
        vertical-align: #{$type} !important;
    }
}


//
// Text
@each $type in (center, left, right, justify) {
    %txt-#{$type} {
        text-align: #{$type};
    }

    .txt-#{$type} {
        text-align: #{$type} !important;
    }
}

@each $type in (normal, bold, black) {
    .txt-#{$type} {
        @extend %#{$type};
    }
}

@each $type, $color in $typoColors {
    .is-#{$type} {
        color: $color;
    }
}

@each $name, $size in $typoSizes {
    %txt-#{$name} {
        font-size: $size;
    }

    .txt--#{$name} {
        @extend %txt-#{$name};
    }
}

.txt {
    &-upper {
        text-transform: uppercase;
    }

    &-capitalize {
        text-transform: capitalize;
    }

    &-underline {
        text-decoration: underline;
    }

    &-through {
        text-decoration: line-through;
    }

    &-italic {
        font-style: italic;
    }
}

.u-truncate {
    @extend %truncate;
}

.u-owhidden {
    overflow: hidden;
}

.u-circle {
    border-radius: 50%;
}


//
// Screenreaders
.sr-only {
    @include sr-only;
}

.sr-only-focusable {
    @include sr-only-focusable;
}


//
// Visibility
.invisible {
    visibility: hidden !important;
}


//
// Effects
%disabled {
    opacity: .5;
    pointer-events: none;
}

.is {
    &-selectable {
        @extend %is-selectable;
    }

    &-disabled {
        @extend %disabled;
    }

    &-draggable {
        cursor: move;
    }

    &-dragging {
        opacity: 0;
    }
}

[disabled] {
    @extend %disabled;
}


//
// Scroll
[data-scrollable] {
    overflow-y: scroll;
}
