/*! Styles */

// Core and mixins
@import "variables";
@import "mixins";

// Reset
@import "~normalize.css/normalize.css";
@import "~minireset.css/minireset.css";

// Core
@import "~inukgrid/dist/inukgrid.css";
@import "core/reboot";
@import "core/typography";
@import "core/reactAnimations";

$hamBtnBg: #fff;
$hamBtnHeight: 30px;
$hamBtnTop: 13px;

$hamLinesHeight: 3px;

$informationBg: rgb(105, 105, 105);
$informationColor: #fff;


// Components
@import "components/btn";
@import "core/icons";
@import "components/hamburger_btn";
@import "components/close";
@import "components/breadcrumbs";
@import "components/card";
@import "components/loading";
@import "components/bubble";
@import "components/spinner";
@import "components/form";
@import "components/badge";
@import "components/dropdown";
@import "components/table";
@import "components/search";
@import "components/tabs";
@import "components/pagination";
@import "components/tree";
@import "components/tile";
@import "components/modal";
@import "components/alert";
@import "components/panel";
@import "components/information";
@import "components/lightbox";
@import "components/progress";
@import "components/ribbon";
@import "components/attachments";
@import "components/image";

// Theme Components
@import "layout/frontend/components/nav";

// Vendor
@import "~react-select/dist/react-select.css";
@import "~sweetalert2/src/sweetalert2";
@import "~flatpickr/dist/flatpickr.css";

.Select-control {
    border-color: $grey;
    border-radius: 0;
}

.Select-arrow {
    top: 2px;
}

.flatpickr-input[readonly] {
    background-color: $white;
    pointer-events: all;
}

.flatpickr-clear {
    @extend %is-selectable;
    font-weight: 400;
    padding: 5px 0;
    transition: background-color .2s ease-in;

    &:hover {
        background-color: #e6e6e6;
    }
}


// Utilities
@import "utilities";

// Layout
@import "layout/frontend/base";
@import "layout/frontend/cart";
@import "layout/frontend/dealers";

// Plugins
