//
// Errors Page Styles
// --------------------------------------------------

// Core and mixins
@import "variables";
@import "mixins";

@import "~normalize.css/normalize.css";
@import "~minireset.css/minireset.css";

@import "components/btn";

// Variables
// ========================================================================

$bodyBg: #fff;
$bodyColor: #484848;

// Placeholders
// ========================================================================

// Component
// ========================================================================
body {
    background-color: $bodyBg;
    color: $bodyColor;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

p {
    margin-top: 10px;
}

.global {
    &__header {
        margin-bottom: 48px;
        margin-top: 48px;
    }

    &__title {
        font-size: 60px;
        font-weight: 700;
        text-align: center;
    }

    &__content {
        margin: 0 auto;
        width: 50%;
    }
}

.error {
    &__title {
        font-size: 30px;
        font-weight: 500;
    }

    &__text {
        font-size: 22px;

        span {
            color: $primary;
        }
    }
}

.link {
    color: $primary;
    display: block;
    padding-top: 10px;
    text-decoration: none;
}
