/*! Styles */

// Core and mixins
@import "variables";
@import "mixins";

// Custom Variables
$alertFontSize: 18px;
$alertErrorBg: $yellow;
$alertErrorColor: $darkLight;

// Reset
@import "~normalize.css/normalize.css";
@import "~minireset.css/minireset.css";

// Core
@import "~inukgrid/dist/inukgrid.css";
@import "core/reboot";
@import "core/icons";
@import "core/typography";

// Components
@import "components/alert";
@import "components/form";
@import "components/btn";
@import "components/uploader";

// Utilities
@import "utilities";

// Layout
@import "layout/login";
