//
// Variables
//

// Functions
@function stripUnit($number) {
    @if type-of($number) == "number" and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

// Colors
$background: #f5f5f5;
$primary: #d44c54; // Red
$brandPrimary: #e10613; // Real Red

$dark: #222;
$darkLight: #333;

$white: #fff;

$grey: #e2e2e2;
$greyDark: #8a8a8a;

$green: #30b19b;
$yellow: #ffdd57;
$blue: #3273dc;

// Breakpoints
// -------------
$breakpoints: (
    // Extra small screen / phone (portrait)
    xs: 0,
    // Small screen / phone (landscape)
    sm: 36em,
    // Medium screen / tablet (portrait)
    md: 48em,
    // Large screen / desktop / tablet (landscape)
    lg: 62em,
    // Extra large screen / wide desktop
    xl: 75em
) !default;

// Typography
// -------------

// Font
$fontFamily: "Roboto", Helvetica Neue, Helvetica, sans-serif;

// Sizes
$light: 300;
$bold: 500;
$black: 700;

%normal {
    font-weight: $light;
}

%bold {
    font-weight: $bold;
}

%black {
    font-weight: $black;
}

// Colors
$textColor: $darkLight;


// Display
// -------------
%flex {
    display: flex; // sass-lint:disable-line no-important
}

%h100 {
    height: 100%;
}


// Reset Vendor
// -------------

// sass-lint:disable variable-name-format

// React-Select
$select-input-border-radius: 0;
$select-input-border-color: $grey;

// Mutiple
$select-item-border-color: $grey;
$select-item-bg: transparent;
$select-item-color: $dark;


// SweetAlert2
$swal2-input-border: $grey;
$swal2-input-box-shadow-focus: none;
